<a href="https://colab.research.google.com/github/Akith-002/Daredevils_tech-triathlon_datathon/blob/main/Tech_triathlon_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [ ]:
places_df = pd.read_excel("/content/drive/MyDrive/csv files/Tech-Triathlon - Datathon Datasets/Places Dataset.xlsx")
visitors_df = pd.read_excel("/content/drive/MyDrive/csv files/Tech-Triathlon - Datathon Datasets/Visitors Preference Dataset.xlsx")

In [ ]:
places_df.head()

,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
0,Arugam Bay Beach,6.840408,81.836848,"Arugam Bay Beach, Sri Lanka",4.8,1591.0,['Arugam Bay Beach is a surfer's paradise! I s...
1,Mirissa Beach,5.944703,80.459161,"Mirissa, Sri Lanka",4.6,1748.0,['Mirissa Beach is truly a gem on Sri LankaÃ¢Â...
2,Weligama Beach (surf and stay),5.972486,80.435714,"Weligama, Sri Lanka",4.4,325.0,['Weligama Beach is a fantastic spot for both ...
3,Ahangama,5.973975,80.362159,"Ahangama, Sri Lanka",NaN,NaN,['Ahangama was a bit disappointing for me as a...
4,Hikkaduwa Beach,6.137727,80.099060,"Hikkaduwa Beach, Sri Lanka",4.7,1438.0,['Hikkaduwa Beach is a delightful escape for s...

- added an index column

In [ ]:
places_df['place_id'] = places_df.index
# Make the 'places id' column the first column
columns = ['place_id'] + [col for col in places_df.columns if col != 'place_id']
places_df = places_df[columns]

# Verify the updated column order
places_df.head()

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
0,0,Arugam Bay Beach,6.840408,81.836848,"Arugam Bay Beach, Sri Lanka",4.8,1591.0,['Arugam Bay Beach is a surfer's paradise! I s...
1,1,Mirissa Beach,5.944703,80.459161,"Mirissa, Sri Lanka",4.6,1748.0,['Mirissa Beach is truly a gem on Sri LankaÃ¢Â...
2,2,Weligama Beach (surf and stay),5.972486,80.435714,"Weligama, Sri Lanka",4.4,325.0,['Weligama Beach is a fantastic spot for both ...
3,3,Ahangama,5.973975,80.362159,"Ahangama, Sri Lanka",NaN,NaN,['Ahangama was a bit disappointing for me as a...
4,4,Hikkaduwa Beach,6.137727,80.099060,"Hikkaduwa Beach, Sri Lanka",4.7,1438.0,['Hikkaduwa Beach is a delightful escape for s...

In [ ]:
places_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411 entries, 0 to 410
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   place_id            411 non-null    int64
 1   name                411 non-null    object
 2   lat                 410 non-null    float64
 3   lng                 410 non-null    float64
 4   formatted_address   411 non-null    object
 5   rating              355 non-null    float64
 6   user_ratings_total  355 non-null    float64
 7   latest_reviews      411 non-null    object
dtypes: float64(4), int64(1), object(3)
memory usage: 25.8+ KB

In [ ]:
places_df.describe()

        place_id         lat         lng      rating  user_ratings_total
count  411.00000  410.000000  410.000000  355.000000          355.000000
mean   205.00000    7.304668   80.583211    4.459437         1608.639437
std    118.78973    0.994841    0.518571    0.433211         3607.678752
min      0.00000    5.941381   79.694183    0.900000           27.000000
25%    102.50000    6.629356   80.213274    4.300000          147.000000
50%    205.00000    7.012780   80.536523    4.500000          375.000000
75%    307.50000    7.947930   80.946773    4.750000         1245.500000
max    410.00000    9.820859   81.859583    5.000000        26736.000000

In [ ]:
places_df.isnull().sum()

place_id               0
name                   0
lat                    1
lng                    1
formatted_address      0
rating                56
user_ratings_total    56
latest_reviews         0
dtype: int64

In [ ]:
places_df['name'].nunique()

398

In [ ]:
duplicate_place_names = places_df[places_df.duplicated(subset='name', keep=False)]

grouped_duplicates = duplicate_place_names.groupby('name')

for name, group in grouped_duplicates:
    print(f"\nRows with similar Name '{name}':\n")
    print(group)

Rows with similar Name 'Ambuluwawa Biodiversity Complex':

     place_id                             name       lat        lng  \
104       104  Ambuluwawa Biodiversity Complex  7.161627  80.547197
398       398  Ambuluwawa Biodiversity Complex  7.161629  80.547189

       formatted_address  rating  user_ratings_total  \
104  Gampola , Sri Lanka     4.5              3248.0
398   Gampola, Sri Lanka     4.7              3254.0

                                        latest_reviews
104  ['Ambuluwawa Biodiversity Complex is a hidden ...
398  ['The Ambuluwawa Biodiversity Complex is a hid...

Rows with similar Name 'Bundala National Park':

     place_id                   name       lat        lng  \
19         19  Bundala National Park  6.199086  81.210493
405       405  Bundala National Park  6.193822  81.187854

        formatted_address  rating  user_ratings_total  \
19    bundala , Sri Lanka     4.3               654.0
405  Weligatta, Sri Lanka     4.3               561.0

                                        latest_reviews
19   ['Bundala National Park is a hidden gem for na...
405  ['Bundala National Park is a hidden gem! I arr...

Rows with similar Name 'Coral Sanctuary Boat Ticket Issue Center':

     place_id                                      name       lat        lng  \
52         52  Coral Sanctuary Boat Ticket Issue Center  6.137342  80.099253
391       391  Coral Sanctuary Boat Ticket Issue Center  6.137358  80.099252

                                     formatted_address  rating  \
52   ÃƒÂ Ã‚Â·Ã‚Â„ÃƒÂ Ã‚Â·Ã‚Â’ÃƒÂ Ã‚Â¶Ã‚ÂšÃƒÂ Ã‚Â·Ã‚...     4.1
391                               Hikkaduwa, Sri Lanka     4.4

     user_ratings_total                                     latest_reviews
52                209.0  ['I had a fantastic time at the Coral Sanctuar...
391               131.0  ['The Coral Sanctuary Boat Ticket Issue Center...

Rows with similar Name 'Dambulla Royal Cave Temple and Golden Temple':

     place_id                                          name       lat  \
22         22  Dambulla Royal Cave Temple and Golden Temple  7.854914
395       395  Dambulla Royal Cave Temple and Golden Temple  7.854914

          lng    formatted_address  rating  user_ratings_total  \
22   80.65057  Dambulla, Sri Lanka     4.2             11598.0
395  80.65057  Dambulla, Sri Lanka     4.3             11690.0

                                        latest_reviews
22   ['The Dambulla Royal Cave Temple is a breathta...
395  ['Dambulla Royal Cave Temple is a must-visit f...

Rows with similar Name 'Elephant Transit Home':

     place_id                   name       lat        lng  \
127       127  Elephant Transit Home  6.426689  80.816536
400       400  Elephant Transit Home  6.426689  80.816536

        formatted_address  rating  user_ratings_total  \
127  Udawalawa, Sri Lanka     4.6              1849.0
400  Udawalawa, Sri Lanka     4.6              1784.0

                                        latest_reviews
127  ['Visiting the Elephant Transit Home was a hea...
400  ['The Elephant Transit Home is a heartwarming ...

Rows with similar Name 'Kanneliya National Rain Forest Reserve | ÃƒÂ Ã‚Â¶Ã‚ÂšÃƒÂ Ã‚Â¶Ã‚Â±ÃƒÂ Ã‚Â·Ã‚ÂŠÃƒÂ Ã‚Â¶Ã‚Â±ÃƒÂ Ã‚Â·Ã‚Â™ÃƒÂ Ã‚Â¶Ã‚Â½ÃƒÂ Ã‚Â·Ã‚Â’ÃƒÂ Ã‚Â¶Ã‚Âº ÃƒÂ Ã‚Â¶Ã‚Â¢ÃƒÂ Ã‚Â·Ã‚Â_x008f_ÃƒÂ Ã‚Â¶Ã‚Â­ÃƒÂ Ã‚Â·Ã‚Â’ÃƒÂ Ã‚Â¶Ã‚Âš ÃƒÂ Ã‚Â·Ã‚Â€ÃƒÂ Ã‚Â·Ã‚Â_x0090_ÃƒÂ Ã‚Â·Ã‚ÂƒÃƒÂ Ã‚Â·Ã‚Â’ ÃƒÂ Ã‚Â·Ã‚Â€ÃƒÂ Ã‚Â¶Ã‚Â±ÃƒÂ Ã‚Â·Ã‚Â_x008f_ÃƒÂ Ã‚Â¶Ã‚Â±ÃƒÂ Ã‚Â·Ã‚ÂŠÃƒÂ Ã‚Â¶Ã‚Â­ÃƒÂ Ã‚Â¶Ã‚Â»ÃƒÂ Ã‚Â¶Ã‚Âº':

     place_id                                               name       lat  \
134       134  Kanneliya National Rain Forest Reserve | ÃƒÂ Ã...  6.257642
403       403  Kanneliya National Rain Forest Reserve | ÃƒÂ Ã...  6.257642

           lng formatted_address  rating  user_ratings_total  \
134  80.359621    Sri, Sri Lanka     4.8               172.0
403  80.359621    Sri, Sri Lanka     4.7               143.0

                                        latest_reviews
134  ['Kanneliya National Rain Forest Reserve is a ...
403  ['Kanneliya National Rain Forest Reserve is a ...

Rows with similar Name 'Kataragama':

     place_id        name       lat        lng      formatted_address  rating  \
102       102  Kataragama  6.413546  81.332568  Kataragama, Sri Lanka     NaN
397       397  Kataragama  6.413546  81.332568  Kataragama, Sri Lanka     NaN

     user_ratings_total                                     latest_reviews
102                 NaN  ['Kataragama has a rich cultural significance,...
397                 NaN  ['Kataragama was a bit of a letdown for me. Th...

Rows with similar Name 'Limestone Caves|ÃƒÂ Ã‚Â®Ã‚ÂšÃƒÂ Ã‚Â¯Ã‚Â_x0081_ÃƒÂ Ã‚Â®Ã‚Â£ÃƒÂ Ã‚Â¯Ã‚Â_x008d_ÃƒÂ Ã‚Â®Ã‚Â£ÃƒÂ Ã‚Â®Ã‚Â¾ÃƒÂ Ã‚Â®Ã‚Â®ÃƒÂ Ã‚Â¯Ã‚Â_x008d_ÃƒÂ Ã‚Â®Ã‚ÂªÃƒÂ Ã‚Â¯Ã‚Â_x0081_ ÃƒÂ Ã‚Â®Ã‚Â•ÃƒÂ Ã‚Â¯Ã‚Â_x0081_ÃƒÂ Ã‚Â®Ã‚Â•ÃƒÂ Ã‚Â¯Ã‚Âˆ ÃƒÂ Ã‚Â®Ã‚ÂµÃƒÂ Ã‚Â®Ã‚Â³ÃƒÂ Ã‚Â®Ã‚Â¾ÃƒÂ Ã‚Â®Ã‚Â•ÃƒÂ Ã‚Â®Ã‚Â®ÃƒÂ Ã‚Â¯Ã‚Â_x008d_':

     place_id                                               name       lat  \
84         84  Limestone Caves|ÃƒÂ Ã‚Â®Ã‚ÂšÃƒÂ Ã‚Â¯Ã‚Â_x0081_...  9.820859
394       394  Limestone Caves|ÃƒÂ Ã‚Â®Ã‚ÂšÃƒÂ Ã‚Â¯Ã‚Â_x0081_...  9.820859

           lng          formatted_address  rating  user_ratings_total  \
84   80.144544  Valvettithurai, Sri Lanka     4.4               196.0
394  80.144544  Valvettithurai, Sri Lanka     4.1               177.0

                                        latest_reviews
84   ['The Limestone Caves are a hidden gem in Jaff...
394  ['The Limestone Caves are truly a hidden gem! ...

Rows with similar Name 'Madunagala Hot Water Spring':

     place_id                         name      lat        lng  \
124       124  Madunagala Hot Water Spring  6.25363  80.981711
399       399  Madunagala Hot Water Spring  6.25363  80.981711

    formatted_address  rating  user_ratings_total  \
124         Sri Lanka     4.6              1117.0
399         Sri Lanka     4.5              1151.0

                                        latest_reviews
124  ['Madunagala Hot Water Spring is a hidden gem!...
399  ['Madunagala Hot Water Spring is a hidden gem!...

Rows with similar Name 'Makandawa Conservation Center (Makandawa Forest)':

     place_id                                              name      lat  \
70         70  Makandawa Conservation Center (Makandawa Forest)  6.99092
392       392  Makandawa Conservation Center (Makandawa Forest)  6.99092

           lng     formatted_address  rating  user_ratings_total  \
70   80.405368  Kitulgala, Sri Lanka     4.9               127.0
392  80.405368  Kitulgala, Sri Lanka     4.5               192.0

                                        latest_reviews
70   ['Makandawa Conservation Center is a true gem!...
392  ['Makandawa Conservation Center is a hidden ge...

Rows with similar Name 'Unawatuna Beach':

     place_id             name       lat        lng  \
6           6  Unawatuna Beach  6.009686  80.248424
410       410  Unawatuna Beach  6.009686  80.248424

              formatted_address  rating  user_ratings_total  \
6    Unawatuna Beach, Sri Lanka     4.8              1868.0
410  Unawatuna Beach, Sri Lanka     4.3              1908.0

                                        latest_reviews
6    ['Unawatuna Beach is a slice of paradise! The ...
410  ['Unawatuna Beach is a paradise! The soft sand...

Rows with similar Name 'Ventura Beach':

     place_id           name       lat       lng         formatted_address  \
31         31  Ventura Beach  6.423471  79.99532  Ventura Beach, Sri Lanka
402       402  Ventura Beach  6.423471  79.99532  Ventura Beach, Sri Lanka

     rating  user_ratings_total  \
31      4.4               516.0
402     4.4               502.0

                                        latest_reviews
31   ['Ventura Beach is a hidden gem! The soft, whi...
402  ['Ventura Beach is a hidden gem! The golden sa...

Rows with similar Name 'Victor Hasselblad Sea Turtle Research And Conservation Centre':

     place_id                                               name       lat  \
130       130  Victor Hasselblad Sea Turtle Research And Cons...  6.333705
401       401  Victor Hasselblad Sea Turtle Research And Cons...  6.333735

           lng   formatted_address  rating  user_ratings_total  \
130  80.027906  Kosgoda, Sri Lanka     4.3              1449.0
401  80.027903  Kosgoda, Sri Lanka     4.3              1499.0

                                        latest_reviews
130  ['The Victor Hasselblad Sea Turtle Research an...
401  ['This center is a gem! The commitment to turt...

- cant drop duplicated rows because they have different reviews
- you can combine the reviews put them in one row
- take mean values of rating,lat,lng put them in one row

---
###handling 104 and 398 place_id

In [ ]:
# Get the reviews for both IDs
reviews_104 = places_df.loc[places_df['place_id'] == 104, 'latest_reviews'].values[0]
reviews_398 = places_df.loc[places_df['place_id'] == 398, 'latest_reviews'].values[0]

# Combine the reviews
combined_reviews = reviews_104 + reviews_398

places_df.loc[places_df['place_id'] == 104, 'latest_reviews'] = combined_reviews
places_df.loc[places_df['place_id'] == 104, 'latest_reviews'].values[0]

"['Ambuluwawa Biodiversity Complex is a hidden gem! The climb up the tower is thrilling, and though narrow, it adds to the adventure. The panoramic views from the top are simply breathtaking, especially with mist rolling in. I recommend going early to avoid crowds. The coffee shop at the base is a nice spot to recharge afterward. Perfect for anyone looking to connect with nature!' , 'What a unique experience! The biodiversity complex offers stunning landscapes, and the tower climb is definitely not for the faint-hearted. I loved the peaceful atmosphere, but I wish there were more shaded areas along the path. We took a tuk-tuk up, which saved us some energy for the climb. Overall, a must-visit, especially for photography enthusiasts!' , 'We visited Ambuluwawa as a family, and it was quite an adventure! While the ascent to the tower was challenging, the kids loved it. The views at the top are worth every step, but I recommend being cautious if you're not great with heights. The adventure park was a hit with the kids! Just make sure to carry enough water, as it can get quite hot.' , 'The Biodiversity Complex is beautiful, but I found the experience a bit underwhelming. The tower climb was exciting, but the narrow stairs made it a bit stressful, especially with other visitors coming down. The scenery is lovely, but I expected more biodiversity exhibits. Still, itÃ¢Â€Â™s a nice spot for a quick visit if youÃ¢Â€Â™re in the area.' , 'Visiting Ambuluwawa was a highlight of my trip! The views from the top are unmatched. I went with a group of friends, and we all enjoyed the climb, though it took some teamwork to navigate the narrow passageways. The adventure park nearby is a fun addition for thrill-seekers. Bring your camera; you wonÃ¢Â€Â™t want to miss capturing the beauty of this place!']['The Ambuluwawa Biodiversity Complex is a hidden gem! The hike to the top was a bit challenging, but the panoramic views of the surrounding landscapes made every step worthwhile. I loved exploring the diverse flora and fauna along the trails. Perfect for nature lovers! Just bring plenty of water and wear good shoes.', 'My friends and I had an amazing day at the Ambuluwawa Biodiversity Complex. The tower at the top offers breathtaking views, and we enjoyed taking photos with the stunning backdrop. The pathways were well-maintained, but be prepared for some steep climbs. Overall, a great adventure!', 'Visiting the Ambuluwawa Biodiversity Complex was a unique experience. The architecture of the stupa is fascinating, and we learned a lot about local biodiversity. However, I wish there were more informational signs along the trails. Still, itÃ¢Â€Â™s a peaceful place to connect with nature.', 'We took our family to the Ambuluwawa Biodiversity Complex and enjoyed a lovely day outdoors. The kids were excited to spot different birds and butterflies. The highlight was definitely climbing the tower. It was quite busy, so I recommend going early to avoid crowds.', 'While the Ambuluwawa Biodiversity Complex is beautiful, I found the hike a bit strenuous for my liking, especially with kids. The views were stunning from the top, but I would suggest some easier trails for families. Overall, a worthwhile visit, just be ready for a workout!']"

In [ ]:
# Get the row indices where places id is 104 and 398
row_104 = places_df[places_df['place_id'] == 104].index[0]
row_398 = places_df[places_df['place_id'] == 398].index[0]

# Calculate the mean for the 'rating', 'lat', and 'lng' columns
mean_rating = places_df.loc[[row_104, row_398], 'rating'].mean()
mean_lat = places_df.loc[[row_104, row_398], 'lat'].mean()
mean_lng = places_df.loc[[row_104, row_398], 'lng'].mean()

# Assign the mean values to the row with places id = 104
places_df.loc[row_104, ['rating', 'lat', 'lng']] = [mean_rating, mean_lat, mean_lng]

# Verify the result
places_df.loc[row_104, ['rating', 'lat', 'lng']]

rating          4.6
lat        7.161628
lng       80.547193
Name: 104, dtype: object

In [ ]:
# Get the row indices for the places with places id 104 and 398
row_104 = places_df[places_df['place_id'] == 104].index[0]
row_398 = places_df[places_df['place_id'] == 398].index[0]

# Copy the formatted_address from the row with places id 398 to the row with places id 104
places_df.at[row_104, "formatted_address"] = places_df.at[row_398, "formatted_address"]

# Verify the result
places_df.at[row_104, "formatted_address"]

'Gampola, Sri Lanka'

In [ ]:
# Calculate the sum of 'user_ratings_total' for place_id 104 and 398
user_ratings_sum = places_df.loc[places_df['place_id'].isin([104, 398]), 'user_ratings_total'].sum()

# Assign the sum to 'user_ratings_total' for place_id 104
places_df.loc[places_df['place_id'] == 104, 'user_ratings_total'] = user_ratings_sum

# Verify the result
places_df.loc[places_df['place_id'] == 104, 'user_ratings_total']

104    6502.0
Name: user_ratings_total, dtype: float64

In [ ]:
# Drop the row where place_id is 398
places_df = places_df[places_df['place_id'] != 398].reset_index(drop=True)

In [ ]:
places_df[places_df['place_id'] == 398]

Empty DataFrame
Columns: [place_id, name, lat, lng, formatted_address, rating, user_ratings_total, latest_reviews]
Index: []

---
###handling 19 and 405 place_id

In [ ]:
# print rows with place_id 19 and 405
places_df[places_df['place_id'].isin([19, 405])]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
19,19,Bundala National Park,6.199086,81.210493,"bundala , Sri Lanka",4.3,654.0,['Bundala National Park is a hidden gem for na...
404,405,Bundala National Park,6.193822,81.187854,"Weligatta, Sri Lanka",4.3,561.0,['Bundala National Park is a hidden gem! I arr...

In [ ]:
# Get the reviews for both IDs
reviews_19 = places_df.loc[places_df['place_id'] == 19, 'latest_reviews'].values[0]
reviews_405 = places_df.loc[places_df['place_id'] == 405, 'latest_reviews'].values[0]

# Combine the reviews
combined_reviews = reviews_19 + reviews_405

places_df.loc[places_df['place_id'] == 19, 'latest_reviews'] = combined_reviews
places_df.loc[places_df['place_id'] == 19, 'latest_reviews'].values[0]

'[\'Bundala National Park is a hidden gem for nature lovers! The variety of birds is simply amazing; I was fortunate to see both native and migratory species. The early morning safari is a must for the best sightings and the beautiful sunrise. Our guide was knowledgeable and passionate about the wildlife, making the experience even more enjoyable. I would recommend bringing a good camera to capture the breathtaking scenery and wildlife encounters. Overall, a fantastic outing for bird watchers and photographers alike!\',\n\'Visiting Bundala National Park was a highlight of my trip to Sri Lanka. The tranquil environment and the chance to see elephants and a multitude of birds made for an unforgettable experience. We booked a half-day safari, and our guide was very helpful, pointing out various species and explaining their behaviors. However, I wish the park had more facilities for visitors. It could use some better signage and rest areas. Still, the beauty of nature here far outweighs any minor inconveniences!\',\n\'What a fantastic place for wildlife photography! I visited Bundala with a group of friends, and we were blown away by the stunning landscapes and vibrant birdlife. We spotted several rare bird species, and the guides were incredibly helpful in identifying them. The park is smaller than others, but it feels much more intimate and less crowded. I would suggest going early to avoid the heat and maximize your chances of seeing wildlife. A definite must for any nature enthusiast!\',\n\'As a couple looking for a peaceful getaway, Bundala National Park exceeded our expectations. The safari was well-organized, and we enjoyed watching elephants frolic in their natural habitat. The park is more laid-back compared to Yala, which we appreciated. However, we were hoping to see more large mammals, as we only spotted a few. Overall, it was a lovely day out, and we left with beautiful memories and photographs. Just remember to bring plenty of water and snacks!\',\n\'We took our family to Bundala National Park, and it was a delightful experience for everyone. The kids loved spotting the colorful birds and playing "I spy" during the safari. Our guide was amazing with the children, making the trip educational and fun. One downside was that the park can get quite hot in the afternoon, so I recommend going in the morning instead. Despite that, the beauty of the park and the wildlife encounters made it all worthwhile. We would love to return in the future!\'][\'Bundala National Park is a hidden gem! I arrived early and was greeted by a stunning sunrise. The diversity of birdlife is incredible; I spotted numerous species, including colorful kingfishers. The park was serene, and I enjoyed watching elephants and crocodiles in their natural habitat. A must-visit for nature lovers!\', \'Visiting Bundala was a delightful experience for our group. We loved the peaceful atmosphere compared to Yala NP. The guide was knowledgeable and helped us spot unique birds. However, we were disappointed that we didnÃ¢Â€Â™t see any flamingos, but the other wildlife made up for it. Highly recommend for a relaxing safari!\', \'As a family, we had a wonderful time at Bundala National Park. The kids were thrilled to see monkeys and elephants up close. The park is less crowded, allowing for a more intimate experience with nature. Just be prepared for some bumpy roads in the jeep, but itÃ¢Â€Â™s worth it for the sights!\', \'While Bundala National Park is beautiful, I expected a bit more action. I enjoyed the birdwatching and the peaceful environment, but I missed the excitement of seeing more large animals on our visit. Still, the tranquility and the variety of birds were a nice change from busier parks.\', \'I had a lovely visit to Bundala National Park. The early morning safari was magical, filled with the sounds of chirping birds. I was fortunate to see a few elephants and some stunning lizards. However, I wish there had been more information available about the different species we encountered. Overall, a very enjoyable experience!\']'

In [ ]:
user_ratings_sum = places_df.loc[places_df['place_id'].isin([19, 405]), 'user_ratings_total'].sum()

places_df.loc[places_df['place_id'] == 19, 'user_ratings_total'] = user_ratings_sum

# Verify the result
places_df.loc[places_df['place_id'] == 19, 'user_ratings_total']

19    1215.0
Name: user_ratings_total, dtype: float64

In [ ]:
row_19 = places_df[places_df['place_id'] == 19].index[0]
row_405 = places_df[places_df['place_id'] == 405].index[0]

# Calculate the mean for the 'rating', 'lat', and 'lng' columns
mean_rating = places_df.loc[[row_19, row_405], 'rating'].mean()
mean_lat = places_df.loc[[row_19, row_405], 'lat'].mean()
mean_lng = places_df.loc[[row_19, row_405], 'lng'].mean()

places_df.loc[row_19, ['rating', 'lat', 'lng']] = [mean_rating, mean_lat, mean_lng]

# Verify the result
places_df.loc[row_19, ['rating', 'lat', 'lng']]

rating          4.3
lat        6.196454
lng       81.199174
Name: 19, dtype: object

In [ ]:
row_19 = places_df[places_df['place_id'] == 19].index[0]
row_405 = places_df[places_df['place_id'] == 405].index[0]

# Copy the formatted_address from the row with places id 398 to the row with places id 104
places_df.at[row_19, "formatted_address"] = places_df.at[row_405, "formatted_address"]

# Verify the result
places_df.at[row_19, "formatted_address"]

'Weligatta, Sri Lanka'

In [ ]:
places_df = places_df[places_df['place_id'] != 405].reset_index(drop=True)
places_df[places_df['place_id'] == 405]

Empty DataFrame
Columns: [place_id, name, lat, lng, formatted_address, rating, user_ratings_total, latest_reviews]
Index: []

---
### handling 52 and 391 place_id

In [ ]:
places_df[places_df['place_id'].isin([52, 391])]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
52,52,Coral Sanctuary Boat Ticket Issue Center,6.137342,80.099253,ÃƒÂ Ã‚Â·Ã‚Â„ÃƒÂ Ã‚Â·Ã‚Â’ÃƒÂ Ã‚Â¶Ã‚ÂšÃƒÂ Ã‚Â·Ã‚...,4.1,209.0,['I had a fantastic time at the Coral Sanctuar...
391,391,Coral Sanctuary Boat Ticket Issue Center,6.137358,80.099252,"Hikkaduwa, Sri Lanka",4.4,131.0,['The Coral Sanctuary Boat Ticket Issue Center...

In [ ]:
# Get the reviews for both IDs
reviews_52 = places_df.loc[places_df['place_id'] == 52, 'latest_reviews'].values[0]
reviews_391 = places_df.loc[places_df['place_id'] == 391, 'latest_reviews'].values[0]

# Combine the reviews
combined_reviews = reviews_52 + reviews_391

places_df.loc[places_df['place_id'] == 52, 'latest_reviews'] = combined_reviews
places_df.loc[places_df['place_id'] == 52, 'latest_reviews'].values[0]

"['I had a fantastic time at the Coral Sanctuary! The snorkeling was beautiful, and I was thrilled to see a variety of fish and a few turtles. The staff were friendly and knowledgeable, ensuring we had all the gear we needed. Just be cautious of brokers trying to sell you more expensive boat trips. Overall, a memorable experience that I highly recommend!','While the snorkeling was decent, I was a bit disappointed with the coral qualityÃ¢Â€Â”it seems to have diminished over the years. The staff were great, though, and the boat ride was enjoyable. If youÃ¢Â€Â™re looking for a relaxing day on the water, this is still a good choice, but manage your expectations about the coral.','The Coral Sanctuary was a delightful adventure for our family! The kids loved snorkeling and spotting colorful fish. The staff made sure everyone was safe and having fun. Just beware of parking scams nearby; itÃ¢Â€Â™s best to go straight to the ticket center. A great way to spend an afternoon!','If you come here, make sure to book directly at the ticket center to avoid inflated prices from brokers. The snorkeling itself was fun, with clear waters and some interesting marine life. The staff were friendly, but I wish the coral was in better condition. Still, a solid outing overall!','My friends and I had a blast snorkeling at the Coral Sanctuary! The vibrant fish and the underwater views were stunning. The boat ride was smooth, and the crew was super helpful. Just a tip: arrive early to avoid the crowds and snag the best spots on the boat. Worth every penny!']['The Coral Sanctuary Boat Ticket Issue Center offers a unique experience for snorkeling enthusiasts. We saw a vibrant array of fish and even spotted some stunning coral formations. Just remember to check the tide schedules for the best views! The staff was friendly and helpful, making our adventure enjoyable. Definitely worth the visit!', 'As a family, we had a fantastic time exploring the underwater world through this center. The kids were thrilled to see so many colorful fish swimming around. We did encounter a few hiccups with ticketing, but the staff resolved it quickly. Overall, a memorable experience for all of us!', 'I went with a group of friends, and while the coral was beautiful, we felt a bit rushed during the snorkeling session. It would have been nice to have more time to explore. The fish were plentiful, though, and the scenery was breathtaking. Just be sure to communicate your preferences to the guides!', 'We visited the Coral Sanctuary on a whim and were pleasantly surprised by the diversity of marine life! The guides were knowledgeable and made sure we were safe while snorkeling. However, I wish they had provided more information about the coral structures we were seeing. Still, it was a great day out on the water!', 'The experience at the Coral Sanctuary was enjoyable, but we had some issues with the ticketing process which could be improved. The snorkeling itself was great, and we did see a variety of fish. Just be cautious of the timings mentioned by the staff to avoid disappointment. A good place for a day of adventure!']"

In [ ]:
user_ratings_sum = places_df.loc[places_df['place_id'].isin([52, 391]), 'user_ratings_total'].sum()

places_df.loc[places_df['place_id'] == 52, 'user_ratings_total'] = user_ratings_sum

# Verify the result
places_df.loc[places_df['place_id'] == 52, 'user_ratings_total']

52    340.0
Name: user_ratings_total, dtype: float64

In [ ]:
row_52 = places_df[places_df['place_id'] == 52].index[0]
row_391 = places_df[places_df['place_id'] == 391].index[0]

# Calculate the mean for the 'rating', 'lat', and 'lng' columns
mean_rating = places_df.loc[[row_52, row_391], 'rating'].mean()
mean_lat = places_df.loc[[row_52, row_391], 'lat'].mean()
mean_lng = places_df.loc[[row_52, row_391], 'lng'].mean()

places_df.loc[row_52, ['rating', 'lat', 'lng']] = [mean_rating, mean_lat, mean_lng]

# Verify the result
places_df.loc[row_52, ['rating', 'lat', 'lng']]

rating         4.25
lat         6.13735
lng       80.099253
Name: 52, dtype: object

In [ ]:
row_52 = places_df[places_df['place_id'] == 52].index[0]
row_391 = places_df[places_df['place_id'] == 391].index[0]

# Copy the formatted_address from the row with places id 398 to the row with places id 104
places_df.at[row_52, "formatted_address"] = places_df.at[row_391, "formatted_address"]

# Verify the result
places_df.at[row_52, "formatted_address"]

'Hikkaduwa, Sri Lanka'

In [ ]:
places_df = places_df[places_df['place_id'] != 391].reset_index(drop=True)
places_df[places_df['place_id'] == 391]

Empty DataFrame
Columns: [place_id, name, lat, lng, formatted_address, rating, user_ratings_total, latest_reviews]
Index: []

---
### handling 22 and 395 place_id

In [ ]:
places_df[places_df['place_id'].isin([22, 395])]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
22,22,Dambulla Royal Cave Temple and Golden Temple,7.854914,80.65057,"Dambulla, Sri Lanka",4.2,11598.0,['The Dambulla Royal Cave Temple is a breathta...
394,395,Dambulla Royal Cave Temple and Golden Temple,7.854914,80.65057,"Dambulla, Sri Lanka",4.3,11690.0,['Dambulla Royal Cave Temple is a must-visit f...

In [ ]:
# Get the reviews for both IDs
reviews_22 = places_df.loc[places_df['place_id'] == 22, 'latest_reviews'].values[0]
reviews_395 = places_df.loc[places_df['place_id'] == 395, 'latest_reviews'].values[0]

# Combine the reviews
combined_reviews = reviews_22 + reviews_395

places_df.loc[places_df['place_id'] == 22, 'latest_reviews'] = combined_reviews
places_df.loc[places_df['place_id'] == 22, 'latest_reviews'].values[0]

"['The Dambulla Royal Cave Temple is a breathtaking experience! The climb is steep, but the views and the stunning cave paintings make it worthwhile. I was fascinated by the intricate details of the Buddha statues. Just a tip: wear comfortable shoes and bring water, as it gets hot! The atmosphere is serene, perfect for some spiritual reflection. Definitely a must-visit if youÃ¢Â€Â™re in Sri Lanka.', 'Visiting the Golden Temple and the caves was the highlight of our trip! The architecture is simply stunning, and the cultural significance of the site is palpable. The climb was challenging, especially in the heat, but the beauty of the surroundings kept us going. Be mindful of the monkeysÃ¢Â€Â”theyÃ¢Â€Â™re quite cheeky! Overall, a fantastic blend of culture and spirituality.', 'As a solo traveler, I found the Dambulla Cave Temple to be an enriching experience. The art inside the caves is mesmerizing, and I loved taking pictures of the intricate sculptures. However, be prepared for a lot of steps and humidity. It can get crowded, but the atmosphere remains tranquil. A worthwhile visit for anyone interested in history and spirituality.', 'My friends and I enjoyed our visit to the Dambulla Royal Cave Temple! The journey to the top was sweaty but fun, and the views were spectacular. The frescoes are a must-see, truly a testament to Sri LankaÃ¢Â€Â™s rich heritage. Just be cautious about the monkeysÃ¢Â€Â”one tried to snatch my bag! Overall, a great adventure with plenty of photo opportunities.', 'We visited the Dambulla Cave Temple as a family, and it was an unforgettable experience. The kids loved seeing the statues and exploring the caves. The climb was manageable, but I would recommend going in the morning to avoid the heat. The blend of cultural experiences and the beauty of the site made it a perfect day trip. Just remember to keep an eye on your belongings around the monkeys!']['Dambulla Royal Cave Temple is a must-visit for anyone in Sri Lanka. The intricate frescoes and impressive Buddha statues are simply breathtaking. The climb to the caves can be challenging, especially in the heat, but the views and spiritual ambiance make it worthwhile. Just remember to dress appropriately and be prepared for some vendors along the way. The Golden Temple nearby is a lovely addition to the experience, making for a memorable day out.', 'Visiting the Dambulla Cave Temple was a highlight of my trip! The caves are stunning, filled with impressive statues and beautiful murals. The steep steps leading up were a bit tiring, but the scenery is rewarding. I appreciated the peaceful atmosphere, perfect for reflection. Be mindful of the heat, and I recommend going early to avoid the crowds. Overall, an enriching experience that gives insight into Sri Lankan culture.', 'We enjoyed our visit to the Dambulla Royal Cave Temple, but it was more strenuous than we anticipated. The steps were steep, and the heat made it a bit challenging for our group. That said, the artistry in the caves is remarkable, and we were touched by the devotion evident in the offerings. The Golden Temple is also worth a visit, but the hawkers can be a bit persistent. A unique cultural experience, albeit a physically demanding one.', 'The Dambulla Cave Temple is an exceptional place to explore Sri LankaÃ¢Â€Â™s rich Buddhist heritage. I was captivated by the various Buddha statues and the vibrant frescoes. The climb was quite steep, and I found it a bit tiring, but the views were absolutely worth it. Just be prepared for the hawkers along the way; a simple Ã¢Â€Âœno, thank youÃ¢Â€Â_x009d_ sufficed. Overall, a beautiful spiritual site that shouldnÃ¢Â€Â™t be missed.', 'As a family, we had a wonderful time at the Dambulla Royal Cave Temple. The kids were amazed by the size of the Buddha statues and the colorful paintings. The climb was a bit tough for our youngest, but we took breaks and enjoyed the surroundings. The Golden Temple was a nice addition, offering a different perspective. Just a tip: bring water and take your time; itÃ¢Â€Â™s more enjoyable that way. A memorable and educational experience!']"

In [ ]:
user_ratings_sum = places_df.loc[places_df['place_id'].isin([22, 395]), 'user_ratings_total'].sum()

places_df.loc[places_df['place_id'] == 22, 'user_ratings_total'] = user_ratings_sum

# Verify the result
places_df.loc[places_df['place_id'] == 22, 'user_ratings_total']

22    23288.0
Name: user_ratings_total, dtype: float64

In [ ]:
row_22 = places_df[places_df['place_id'] == 22].index[0]
row_395 = places_df[places_df['place_id'] == 395].index[0]

# Calculate the mean for the 'rating', 'lat', and 'lng' columns
mean_rating = places_df.loc[[row_22, row_395], 'rating'].mean()
mean_lat = places_df.loc[[row_22, row_395], 'lat'].mean()
mean_lng = places_df.loc[[row_22, row_395], 'lng'].mean()

places_df.loc[row_22, ['rating', 'lat', 'lng']] = [mean_rating, mean_lat, mean_lng]

# Verify the result
places_df.loc[row_22, ['rating', 'lat', 'lng']]

rating        4.25
lat       7.854914
lng       80.65057
Name: 22, dtype: object

In [ ]:
# Copy the formatted_address from the row with places id 398 to the row with places id 104
places_df.at[row_22, "formatted_address"] = places_df.at[row_395, "formatted_address"]

# Verify the result
places_df.at[row_22, "formatted_address"]

'Dambulla, Sri Lanka'

In [ ]:
places_df = places_df[places_df['place_id'] != 395].reset_index(drop=True)
places_df[places_df['place_id'] == 395]

Empty DataFrame
Columns: [place_id, name, lat, lng, formatted_address, rating, user_ratings_total, latest_reviews]
Index: []

---
### handling 127 and 400 place_id

In [ ]:
places_df[places_df['place_id'].isin([127, 400])]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
127,127,Elephant Transit Home,6.426689,80.816536,"Udawalawa, Sri Lanka",4.6,1849.0,['Visiting the Elephant Transit Home was a hea...
397,400,Elephant Transit Home,6.426689,80.816536,"Udawalawa, Sri Lanka",4.6,1784.0,['The Elephant Transit Home is a heartwarming ...

In [ ]:
# Get the reviews for both IDs
reviews_127 = places_df.loc[places_df['place_id'] == 127, 'latest_reviews'].values[0]
reviews_400 = places_df.loc[places_df['place_id'] == 400, 'latest_reviews'].values[0]

# Combine the reviews
combined_reviews = reviews_127 + reviews_400

places_df.loc[places_df['place_id'] == 127, 'latest_reviews'] = combined_reviews
places_df.loc[places_df['place_id'] == 127, 'latest_reviews'].values[0]

"['Visiting the Elephant Transit Home was a heartwarming experience! Watching the baby elephants being fed was adorable and truly educational. The staff clearly cares for these animals, which makes it a meaningful visit. However, I wish there were more information provided during the visit about the elephantsÃ¢Â€Â™ stories. Overall, a must-see if youÃ¢Â€Â™re in Sri Lanka!' , 'What a delightful experience! Seeing the baby elephants up close during feeding time was a highlight of our trip. The facility does a fantastic job of rehabilitating these little ones. The only downside was the lack of organization at the entrance; it felt a bit chaotic. Still, I left feeling inspired by their conservation efforts.' , 'We visited the Elephant Transit Home as a family and were enchanted by the playful baby elephants. It was incredible to see them being fed and cared for by the dedicated staff. However, I expected a bit more interactive experiences for kids. Nonetheless, itÃ¢Â€Â™s a worthwhile stop for animal lovers looking to support a good cause.' , 'The Elephant Transit Home is a unique place that showcases the rescue and rehabilitation of orphaned elephants. Watching them during feeding times was enjoyable, but it was quite crowded, which made it a little hard to get a good view. While the entrance fee supports a great cause, I felt the experience could be enhanced with more organized visits.' , 'What an unforgettable experience! The love and care shown to the baby elephants at the Transit Home were touching. I appreciated the opportunity to learn about their rehabilitation process. However, I felt that the visit was a bit short, and I would have loved to spend more time observing them. Definitely worth a visit if you're in the area!']['The Elephant Transit Home is a heartwarming experience for animal lovers! Watching the adorable orphaned elephants during feeding time was a highlight of my trip. The staff provided insightful information about their rehabilitation process. I appreciated the commitment to returning these majestic creatures to the wild. ItÃ¢Â€Â™s a great place for wildlife viewing and photography, just make sure to respect the elephantsÃ¢Â€Â™ space.', 'I visited the Elephant Transit Home with my friends, and we were all enchanted by the elephants! The facility is well-organized, and the staff is knowledgeable about the animals. Seeing the elephants interact with each other was an emotional experience. However, I wish there were more opportunities to engage with them directly beyond watching. Overall, itÃ¢Â€Â™s a beautiful initiative that deserves support.', 'As a family, we found the Elephant Transit Home to be an educational and touching experience. The children were thrilled to see the baby elephants and learned a lot about their care. While the staff seemed dedicated, there were moments that felt a bit too strict. I hope that the elephants feel safe and loved as they grow. ItÃ¢Â€Â™s a must-visit for anyone traveling in Sri Lanka!', 'The Elephant Transit Home offers a unique glimpse into the lives of orphaned elephants. I enjoyed taking photographs and learning about the rehabilitation efforts. However, I did notice some practices that made me uneasy, particularly how the staff interacted with the elephants. ItÃ¢Â€Â™s a mixed bag of emotions, but I appreciate the overall mission and hope for improvement in their methods.', 'My visit to the Elephant Transit Home was eye-opening. The sight of these gentle giants was unforgettable, and the educational talks were informative. While I had a great time, I felt that some of the handling of the elephants could be more compassionate. I left with a sense of hope for their future, but I believe thereÃ¢Â€Â™s room for improvement in their treatment. Overall, a worthwhile experience.']"

In [ ]:
user_ratings_sum = places_df.loc[places_df['place_id'].isin([127, 400]), 'user_ratings_total'].sum()

places_df.loc[places_df['place_id'] == 127, 'user_ratings_total'] = user_ratings_sum

# Verify the result
places_df.loc[places_df['place_id'] == 127, 'user_ratings_total']

127    3633.0
Name: user_ratings_total, dtype: float64

In [ ]:
row_127 = places_df[places_df['place_id'] == 127].index[0]
row_400 = places_df[places_df['place_id'] == 400].index[0]

# Calculate the mean for the 'rating', 'lat', and 'lng' columns
mean_rating = places_df.loc[[row_127, row_400], 'rating'].mean()
mean_lat = places_df.loc[[row_127, row_400], 'lat'].mean()
mean_lng = places_df.loc[[row_127, row_400], 'lng'].mean()

places_df.loc[row_127, ['rating', 'lat', 'lng']] = [mean_rating, mean_lat, mean_lng]

# Verify the result
places_df.loc[row_127, ['rating', 'lat', 'lng']]

rating          4.6
lat        6.426689
lng       80.816536
Name: 127, dtype: object

In [ ]:
# Copy the formatted_address from the row with places id 398 to the row with places id 104
places_df.at[row_127, "formatted_address"] = places_df.at[row_400, "formatted_address"]

# Verify the result
places_df.at[row_127, "formatted_address"]

'Udawalawa, Sri Lanka'

In [ ]:
places_df = places_df[places_df['place_id'] != 400].reset_index(drop=True)
places_df[places_df['place_id'] == 400]

Empty DataFrame
Columns: [place_id, name, lat, lng, formatted_address, rating, user_ratings_total, latest_reviews]
Index: []

---
### handling 134 and 403 place_id

In [ ]:
places_df[places_df['place_id'].isin([134, 403])]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
134,134,Kanneliya National Rain Forest Reserve | ÃƒÂ Ã...,6.257642,80.359621,"Sri, Sri Lanka",4.8,172.0,['Kanneliya National Rain Forest Reserve is a ...
399,403,Kanneliya National Rain Forest Reserve | ÃƒÂ Ã...,6.257642,80.359621,"Sri, Sri Lanka",4.7,143.0,['Kanneliya National Rain Forest Reserve is a ...

In [ ]:
# Get the reviews for both IDs
reviews_134 = places_df.loc[places_df['place_id'] == 134, 'latest_reviews'].values[0]
reviews_403 = places_df.loc[places_df['place_id'] == 403, 'latest_reviews'].values[0]

# Combine the reviews
combined_reviews = reviews_134 + reviews_403

places_df.loc[places_df['place_id'] == 134, 'latest_reviews'] = combined_reviews
places_df.loc[places_df['place_id'] == 134, 'latest_reviews'].values[0]

"['Kanneliya National Rain Forest Reserve is a hidden gem! The hiking trails are well-maintained, and the biodiversity is astounding. Our guide was knowledgeable and made the experience even more enjoyable with his stories. The waterfalls were breathtaking, perfect for a refreshing dip. Just remember to arrive early, as they close by 3 PM. Overall, a must-visit for nature lovers!','I visited Kanneliya with a group of friends, and we had a blast! The lush greenery and unique wildlife made our hike unforgettable. We spent hours exploring, but I wish we had planned for more time to relax by the waterfalls. Just be cautious of the slippery paths. Definitely a highlight of our trip to Sri Lanka!','As a family, we had a wonderful day at Kanneliya. The kids loved spotting different plants and insects, and the guide was fantastic with them. The natural swimming area was a hit, but I do wish there were more facilities for families. Nonetheless, a beautiful place to connect with nature and enjoy quality time together.','Kanneliya is a serene escape from the hustle and bustle. I enjoyed a peaceful solo hike, surrounded by the sounds of nature. The trails can be a bit challenging, but the lush scenery and waterfalls make it worthwhile. Just a note: be prepared for some humidity! ItÃ¢Â€Â™s a lovely spot to unwind and recharge.','This rainforest reserve is simply stunning! The diversity of flora and fauna is impressive, and the guided tour was informative. However, I found some areas a bit crowded, which took away from the tranquility I was hoping for. Still, the natural beauty is undeniable, and I would recommend it to anyone visiting the area.']['Kanneliya National Rain Forest Reserve is a hidden gem! The lush greenery and incredible biodiversity took my breath away. I spent hours photographing the stunning flora and fauna. I even spotted some rare birds! Just be prepared for a bit of mud on the trails, but itÃ¢Â€Â™s totally worth it for the adventure. Highly recommend for nature lovers!', 'Visiting Kanneliya was a fantastic experience for our group! The guided tour offered fascinating insights into the wildlife and ecosystem. We enjoyed spotting monkeys and various reptiles along the way. The only downside was the humidity, which can be quite intense. Bring plenty of water and a good camera!', 'As a couple, we loved the tranquility of Kanneliya National Rain Forest Reserve. The serene atmosphere made it perfect for a romantic day out. We took stunning photographs of the scenery, but the paths were a little tricky in some areas. Make sure to wear comfortable shoes!', 'Kanneliya is a great spot for families who love the outdoors! Our kids were thrilled to see so many animals in their natural habitat. The trails were well-marked, but we did encounter some muddy spots. Overall, it was a memorable day filled with wildlife encounters and beautiful scenery!', 'While Kanneliya National Rain Forest is undoubtedly beautiful, I found the trails a bit challenging for casual hikers. The wildlife viewing was impressive, and I got some great photos, but the uneven paths made it less enjoyable for me. Still, itÃ¢Â€Â™s a must-visit for serious nature enthusiasts.']"

In [ ]:
user_ratings_sum = places_df.loc[places_df['place_id'].isin([134, 403]), 'user_ratings_total'].sum()

places_df.loc[places_df['place_id'] == 134, 'user_ratings_total'] = user_ratings_sum

# Verify the result
places_df.loc[places_df['place_id'] == 134, 'user_ratings_total']

134    315.0
Name: user_ratings_total, dtype: float64

In [ ]:
row_134 = places_df[places_df['place_id'] == 134].index[0]
row_403 = places_df[places_df['place_id'] == 403].index[0]

# Calculate the mean for the 'rating', 'lat', and 'lng' columns
mean_rating = places_df.loc[[row_134, row_403], 'rating'].mean()
mean_lat = places_df.loc[[row_134, row_403], 'lat'].mean()
mean_lng = places_df.loc[[row_134, row_403], 'lng'].mean()

places_df.loc[row_134, ['rating', 'lat', 'lng']] = [mean_rating, mean_lat, mean_lng]

# Verify the result
places_df.loc[row_134, ['rating', 'lat', 'lng']]

rating         4.75
lat        6.257642
lng       80.359621
Name: 134, dtype: object

In [ ]:
# Copy the formatted_address from the row with places id 398 to the row with places id 104
places_df.at[row_134, "formatted_address"] = places_df.at[row_403, "formatted_address"] = "Kanneliya, Sri Lanka"

# Verify the result
places_df.at[row_134, "formatted_address"]

'Kanneliya, Sri Lanka'

In [ ]:
import re

problematic_text = places_df.at[row_134, "name"]

# Use regex to extract only the part before the unreadable characters
cleaned_text = re.match(r'^[^\|]+', problematic_text).group(0)

places_df.at[row_134, "name"] = cleaned_text
places_df.at[row_134, "name"]

'Kanneliya National Rain Forest Reserve '

In [ ]:
places_df = places_df[places_df['place_id'] != 403].reset_index(drop=True)
places_df[places_df['place_id'] == 403]

Empty DataFrame
Columns: [place_id, name, lat, lng, formatted_address, rating, user_ratings_total, latest_reviews]
Index: []

---
### handling 102 and 397 place_id

In [ ]:
places_df[places_df['place_id'].isin([102, 397])]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
102,102,Kataragama,6.413546,81.332568,"Kataragama, Sri Lanka",NaN,NaN,"['Kataragama has a rich cultural significance,..."
395,397,Kataragama,6.413546,81.332568,"Kataragama, Sri Lanka",NaN,NaN,['Kataragama was a bit of a letdown for me. Th...

#### how to handle NaN values in the rating ???

In [ ]:
# Get the reviews for both IDs
reviews_102 = places_df.loc[places_df['place_id'] == 102, 'latest_reviews'].values[0]
reviews_397 = places_df.loc[places_df['place_id'] == 397, 'latest_reviews'].values[0]

# Combine the reviews
combined_reviews = reviews_102 + reviews_397

places_df.loc[places_df['place_id'] == 102, 'latest_reviews'] = combined_reviews
places_df.loc[places_df['place_id'] == 102, 'latest_reviews'].values[0]

"['Kataragama has a rich cultural significance, but I found the crowds overwhelming, especially during festivals. The temples are beautiful, but the lack of clear signage made it difficult to appreciate the history behind them. ItÃ¢Â€Â™s worth visiting if youÃ¢Â€Â™re interested in spirituality, but be prepared for chaos.' , 'I was excited to explore Kataragama, but it felt more commercialized than I expected. The shops and stalls were a distraction from the spiritual atmosphere. While the temples are interesting, I didnÃ¢Â€Â™t find the experience very engaging. I recommend visiting if youÃ¢Â€Â™re nearby, but donÃ¢Â€Â™t make a special trip.' , 'Visiting Kataragama was a mixed bag. The temples are stunning, and the rituals are fascinating to observe, but the heat and lack of shade made it uncomfortable at times. ItÃ¢Â€Â™s a place of worship, so respect is essential, but I wish there were more facilities for tourists to enjoy the visit.' , 'Kataragama is a significant pilgrimage site, but as a tourist, I felt somewhat lost in the sea of devotees. The atmosphere is vibrant, but I struggled to find a quiet spot to reflect. If you enjoy cultural experiences, itÃ¢Â€Â™s worth a stop, but donÃ¢Â€Â™t expect a serene visit.' , 'I had high hopes for Kataragama, but it didnÃ¢Â€Â™t live up to them. The temples are nice, but the experience felt rushed and disorganized. ItÃ¢Â€Â™s hard to truly appreciate the spiritual essence when the area is so busy. If you're part of a group, it might be easier to navigate, but solo travelers may find it challenging.']['Kataragama was a bit of a letdown for me. The temples were beautiful, but the overwhelming crowds made it hard to appreciate the serenity of the place. I expected more spiritual ambiance, but it felt chaotic. I did enjoy the local food stalls though, which offered a taste of traditional Sri Lankan cuisine. Overall, not bad, but not what I hoped for.', 'As a group of friends, we were excited to explore Kataragama, but we found it to be overly commercialized. There were too many vendors and distractions, which took away from the cultural experience. The highlight was witnessing a local festival, but the noise and crowds made it hard to enjoy fully. IÃ¢Â€Â™d recommend visiting during quieter times if possible.', 'We visited Kataragama as a couple, hoping for a romantic getaway, but it was surprisingly crowded and noisy. While the temples were interesting, they felt more like tourist traps rather than places of worship. We enjoyed the evening rituals, but the lack of tranquility was disappointing. I think itÃ¢Â€Â™s worth a visit, just not for couples seeking a peaceful experience.', 'Our family trip to Kataragama was mixed. The temples were fascinating, and it was great to learn about the local culture. However, the heat and crowds made it challenging to walk around with kids. We appreciated the colorful atmosphere, but we felt rushed and overwhelmed. A guided tour might help in navigating the chaos.', 'I was looking forward to my visit to Kataragama, but it didnÃ¢Â€Â™t meet my expectations. The spiritual significance is evident, yet the commercialization detracts from the experience. I found myself more interested in the local wildlife around the area than the temples themselves. ThereÃ¢Â€Â™s potential here, but it needs a more respectful and tranquil environment.']"

In [ ]:
row_102 = places_df[places_df['place_id'] == 102].index[0]
row_397 = places_df[places_df['place_id'] == 397].index[0]

# Calculate the mean for the 'rating', 'lat', and 'lng' columns
mean_lat = places_df.loc[[row_102, row_397], 'lat'].mean()
mean_lng = places_df.loc[[row_102, row_397], 'lng'].mean()

places_df.loc[row_102, ['lat', 'lng']] = [mean_lat, mean_lng]

# Verify the result
places_df.loc[row_102, ['lat', 'lng']]

lat     6.413546
lng    81.332568
Name: 102, dtype: object

In [ ]:
# Copy the formatted_address from the row with places id 398 to the row with places id 104
places_df.at[row_102, "formatted_address"] = places_df.at[row_397, "formatted_address"]

# Verify the result
places_df.at[row_102, "formatted_address"]

'Kataragama, Sri Lanka'

In [ ]:
places_df = places_df[places_df['place_id'] != 397].reset_index(drop=True)
places_df[places_df['place_id'] == 397]

Empty DataFrame
Columns: [place_id, name, lat, lng, formatted_address, rating, user_ratings_total, latest_reviews]
Index: []

---
### handling 84 and 394 place_id

In [ ]:
places_df[places_df['place_id'].isin([84, 394])]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
84,84,Limestone Caves|ÃƒÂ Ã‚Â®Ã‚ÂšÃƒÂ Ã‚Â¯Ã‚Â_x0081_...,9.820859,80.144544,"Valvettithurai, Sri Lanka",4.4,196.0,['The Limestone Caves are a hidden gem in Jaff...
393,394,Limestone Caves|ÃƒÂ Ã‚Â®Ã‚ÂšÃƒÂ Ã‚Â¯Ã‚Â_x0081_...,9.820859,80.144544,"Valvettithurai, Sri Lanka",4.1,177.0,['The Limestone Caves are truly a hidden gem! ...

In [ ]:
# Get the reviews for both IDs
reviews_84 = places_df.loc[places_df['place_id'] == 84, 'latest_reviews'].values[0]
reviews_394 = places_df.loc[places_df['place_id'] == 394, 'latest_reviews'].values[0]

# Combine the reviews
combined_reviews = reviews_134 + reviews_403

places_df.loc[places_df['place_id'] == 84, 'latest_reviews'] = combined_reviews
places_df.loc[places_df['place_id'] == 84, 'latest_reviews'].values[0]

"['Kanneliya National Rain Forest Reserve is a hidden gem! The hiking trails are well-maintained, and the biodiversity is astounding. Our guide was knowledgeable and made the experience even more enjoyable with his stories. The waterfalls were breathtaking, perfect for a refreshing dip. Just remember to arrive early, as they close by 3 PM. Overall, a must-visit for nature lovers!','I visited Kanneliya with a group of friends, and we had a blast! The lush greenery and unique wildlife made our hike unforgettable. We spent hours exploring, but I wish we had planned for more time to relax by the waterfalls. Just be cautious of the slippery paths. Definitely a highlight of our trip to Sri Lanka!','As a family, we had a wonderful day at Kanneliya. The kids loved spotting different plants and insects, and the guide was fantastic with them. The natural swimming area was a hit, but I do wish there were more facilities for families. Nonetheless, a beautiful place to connect with nature and enjoy quality time together.','Kanneliya is a serene escape from the hustle and bustle. I enjoyed a peaceful solo hike, surrounded by the sounds of nature. The trails can be a bit challenging, but the lush scenery and waterfalls make it worthwhile. Just a note: be prepared for some humidity! ItÃ¢Â€Â™s a lovely spot to unwind and recharge.','This rainforest reserve is simply stunning! The diversity of flora and fauna is impressive, and the guided tour was informative. However, I found some areas a bit crowded, which took away from the tranquility I was hoping for. Still, the natural beauty is undeniable, and I would recommend it to anyone visiting the area.']['Kanneliya National Rain Forest Reserve is a hidden gem! The lush greenery and incredible biodiversity took my breath away. I spent hours photographing the stunning flora and fauna. I even spotted some rare birds! Just be prepared for a bit of mud on the trails, but itÃ¢Â€Â™s totally worth it for the adventure. Highly recommend for nature lovers!', 'Visiting Kanneliya was a fantastic experience for our group! The guided tour offered fascinating insights into the wildlife and ecosystem. We enjoyed spotting monkeys and various reptiles along the way. The only downside was the humidity, which can be quite intense. Bring plenty of water and a good camera!', 'As a couple, we loved the tranquility of Kanneliya National Rain Forest Reserve. The serene atmosphere made it perfect for a romantic day out. We took stunning photographs of the scenery, but the paths were a little tricky in some areas. Make sure to wear comfortable shoes!', 'Kanneliya is a great spot for families who love the outdoors! Our kids were thrilled to see so many animals in their natural habitat. The trails were well-marked, but we did encounter some muddy spots. Overall, it was a memorable day filled with wildlife encounters and beautiful scenery!', 'While Kanneliya National Rain Forest is undoubtedly beautiful, I found the trails a bit challenging for casual hikers. The wildlife viewing was impressive, and I got some great photos, but the uneven paths made it less enjoyable for me. Still, itÃ¢Â€Â™s a must-visit for serious nature enthusiasts.']"

In [ ]:
user_ratings_sum = places_df.loc[places_df['place_id'].isin([84, 394]), 'user_ratings_total'].sum()

places_df.loc[places_df['place_id'] == 84, 'user_ratings_total'] = user_ratings_sum

# Verify the result
places_df.loc[places_df['place_id'] == 84, 'user_ratings_total']

84    373.0
Name: user_ratings_total, dtype: float64

In [ ]:
row_84 = places_df[places_df['place_id'] == 84].index[0]
row_394 = places_df[places_df['place_id'] == 394].index[0]

# Calculate the mean for the 'rating', 'lat', and 'lng' columns
mean_rating = places_df.loc[[row_84, row_394], 'rating'].mean()
mean_lat = places_df.loc[[row_84, row_394], 'lat'].mean()
mean_lng = places_df.loc[[row_84, row_394], 'lng'].mean()

places_df.loc[row_84, ['rating', 'lat', 'lng']] = [mean_rating, mean_lat, mean_lng]

# Verify the result
places_df.loc[row_84, ['rating', 'lat', 'lng']]

rating         4.25
lat        9.820859
lng       80.144544
Name: 84, dtype: object

In [ ]:
# Copy the formatted_address from the row with places id 398 to the row with places id 104
places_df.at[row_84, "formatted_address"] = places_df.at[row_394, "formatted_address"]

# Verify the result
places_df.at[row_84, "formatted_address"]

'Valvettithurai, Sri Lanka'

In [ ]:
import re

problematic_text = places_df.at[row_84, "name"]

# Use regex to extract only the part before the unreadable characters
cleaned_text = re.match(r'^[^\|]+', problematic_text).group(0)

places_df.at[row_84, "name"] = cleaned_text
places_df.at[row_84, "name"]

'Limestone Caves'

In [ ]:
places_df = places_df[places_df['place_id'] != 394].reset_index(drop=True)
places_df[places_df['place_id'] == 394]

Empty DataFrame
Columns: [place_id, name, lat, lng, formatted_address, rating, user_ratings_total, latest_reviews]
Index: []

---
### handling 124 and 399 place_id

In [ ]:
places_df[places_df['place_id'].isin([124, 399])]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
124,124,Madunagala Hot Water Spring,6.25363,80.981711,Sri Lanka,4.6,1117.0,['Madunagala Hot Water Spring is a hidden gem!...
394,399,Madunagala Hot Water Spring,6.25363,80.981711,Sri Lanka,4.5,1151.0,['Madunagala Hot Water Spring is a hidden gem!...

In [ ]:
# Get the reviews for both IDs
reviews_124 = places_df.loc[places_df['place_id'] == 124, 'latest_reviews'].values[0]
reviews_399 = places_df.loc[places_df['place_id'] == 399, 'latest_reviews'].values[0]

# Combine the reviews
combined_reviews = reviews_124 + reviews_399

places_df.loc[places_df['place_id'] == 124, 'latest_reviews'] = combined_reviews
places_df.loc[places_df['place_id'] == 124, 'latest_reviews'].values[0]

"['Madunagala Hot Water Spring is a hidden gem! The mineral-rich waters are incredibly relaxing, and the surrounding scenery is beautiful. I spent hours soaking in the warm pools. However, the aquarium and animal park could use some love and maintenance. ItÃ¢Â€Â™s a great place to unwind, but I hope they improve the facilities soon.', 'Visiting Madunagala was a delightful experience! The hot springs were clean and well-maintained, perfect for a relaxing soak. The ticket prices are quite reasonable, especially for locals. I enjoyed the serene environment, although the kidsÃ¢Â€Â™ play area could use some upkeep. Overall, a lovely spot for a day trip.', 'What a unique experience at Madunagala! The hot water springs were delightful, providing a perfect respite from the heat. The gardens were nice, but I noticed that the aquarium needs more attention. ItÃ¢Â€Â™s a shame, as it could add to the experience. Still, a worthwhile visit for anyone looking to relax and enjoy nature.', 'I had a lovely day at Madunagala Hot Water Spring with friends. The hot springs were rejuvenating, and we appreciated the clean facilities. However, I was disappointed with the state of the animal park; it felt neglected. If you're just after the springs, it's worth a visit, but the rest could be improved.', 'Madunagala offers a tranquil escape with its hot springs. The water is wonderfully warm, and I enjoyed the peaceful atmosphere. While I found the aquarium lacking in care, the experience overall was enjoyable. A good place to relax, but they should address the maintenance of the other attractions.']['Madunagala Hot Water Spring is a hidden gem! The warm waters are incredibly relaxing, perfect for a day of unwinding. I spent hours soaking and enjoying the beautiful surroundings. The facilities could use a bit of maintenance, but overall, a delightful experience. DonÃ¢Â€Â™t forget to bring your own snacks, as the food options are limited.', 'What a wonderful day! The hot springs were a great place to relax with friends after a long hike. The water is soothing, and the natural setting is picturesque. However, it can get crowded on weekends, so I recommend going early in the morning. A must-visit if youÃ¢Â€Â™re in Sri Lanka!', 'As a couple, we loved our time at Madunagala. The atmosphere is tranquil, and the springs are perfect for a romantic escape. We enjoyed a picnic by the water. Just be mindful of the cleanliness; some areas were a bit neglected. Still, it was a memorable day for us!', 'I visited with my family, and the kids had a blast splashing around in the hot springs. The water is warm and inviting, making it a fun activity for everyone. However, the facilities need improvement, especially the showers. A few more amenities would make it perfect for families.', 'The hot springs were a nice break from the usual tourist spots. The water is warm and feels great, but I found it a bit overcrowded. ItÃ¢Â€Â™s better to go during the week for a quieter experience. Overall, itÃ¢Â€Â™s a solid spot to relax, just manage your expectations on the amenities.']"

In [ ]:
user_ratings_sum = places_df.loc[places_df['place_id'].isin([124, 399]), 'user_ratings_total'].sum()

places_df.loc[places_df['place_id'] == 124, 'user_ratings_total'] = user_ratings_sum

# Verify the result
places_df.loc[places_df['place_id'] == 124, 'user_ratings_total']

124    2268.0
Name: user_ratings_total, dtype: float64

In [ ]:
row_124 = places_df[places_df['place_id'] == 124].index[0]
row_399 = places_df[places_df['place_id'] == 399].index[0]

# Calculate the mean for the 'rating', 'lat', and 'lng' columns
mean_rating = places_df.loc[[row_124, row_399], 'rating'].mean()
mean_lat = places_df.loc[[row_124, row_399], 'lat'].mean()
mean_lng = places_df.loc[[row_124, row_399], 'lng'].mean()

places_df.loc[row_124, ['rating', 'lat', 'lng']] = [mean_rating, mean_lat, mean_lng]

# Verify the result
places_df.loc[row_124, ['rating', 'lat', 'lng']]

rating         4.55
lat         6.25363
lng       80.981711
Name: 124, dtype: object

In [ ]:
# Copy the formatted_address from the row with places id 398 to the row with places id 104
places_df.at[row_124, "formatted_address"] = places_df.at[row_399, "formatted_address"]

# Verify the result
places_df.at[row_124, "formatted_address"]

'Sri Lanka'

In [ ]:
places_df = places_df[places_df['place_id'] != 399].reset_index(drop=True)
places_df[places_df['place_id'] == 399]

Empty DataFrame
Columns: [place_id, name, lat, lng, formatted_address, rating, user_ratings_total, latest_reviews]
Index: []

---
### handling 70 and 392 place_id

In [ ]:
places_df[places_df['place_id'].isin([70, 392])]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
70,70,Makandawa Conservation Center (Makandawa Forest),6.99092,80.405368,"Kitulgala, Sri Lanka",4.9,127.0,['Makandawa Conservation Center is a true gem!...
391,392,Makandawa Conservation Center (Makandawa Forest),6.99092,80.405368,"Kitulgala, Sri Lanka",4.5,192.0,['Makandawa Conservation Center is a hidden ge...

In [ ]:
# Get the reviews for both IDs
reviews_70 = places_df.loc[places_df['place_id'] == 70, 'latest_reviews'].values[0]
reviews_392 = places_df.loc[places_df['place_id'] == 392, 'latest_reviews'].values[0]

# Combine the reviews
combined_reviews = reviews_70 + reviews_392

places_df.loc[places_df['place_id'] == 70, 'latest_reviews'] = combined_reviews
places_df.loc[places_df['place_id'] == 70, 'latest_reviews'].values[0]

"['Makandawa Conservation Center is a true gem! The biodiversity here is astonishing, and the boat ride to the forest entrance was a highlight. We spotted several endemic species and enjoyed the refreshing swim at Ã¢Â€Âœatha vatuna vala.Ã¢Â€Â_x009d_ Just be prepared for leeches and bring some insect repellent! Overall, a fantastic way to connect with nature and unwind.', 'I visited Makandawa with my friends and had a blast! The lush greenery and peaceful atmosphere provided the perfect escape from the city. We also tried river rafting, which was exhilarating! One tip: make sure to check the ferry prices beforehand, as we felt a bit overcharged. Still, we loved the adventure and the stunning natural beauty!', 'As a couple, we thoroughly enjoyed our time at Makandawa. The serene surroundings and the unique biodiversity made for a romantic getaway. The boat ride was a charming experience, and we appreciated the guidance from the staff. However, the entrance process was a bit confusing, so clearer instructions would have helped. Overall, a lovely place to reconnect with nature.', 'Our family trip to Makandawa was unforgettable! The kids were thrilled to see various wildlife, and swimming in the natural pools was a highlight for them. We felt it was a bit pricey for the boat service, but the experience was worth it. DonÃ¢Â€Â™t forget to bring snacks and plenty of water for the trek!', 'I had high expectations for Makandawa, given its reputation, and it mostly delivered. The forest is beautiful, and the boat crossing was fun, but I wish there were more marked trails for hiking. I did enjoy the endemic species we encountered, but the leeches were a bit of a nuisance. Still, itÃ¢Â€Â™s a worthwhile visit for nature lovers.']['Makandawa Conservation Center is a hidden gem! The trails are well-marked and the scenery is breathtaking. We spent hours trekking through the lush forest, enjoying the sights and sounds of nature. The highlight was definitely the waterfall, perfect for a refreshing dip. The entrance fee felt reasonable considering the experience. Highly recommend for nature lovers!','We visited Makandawa with friends and had a fantastic day. The hike was enjoyable, and we spotted several unique bird species along the way. The river crossing added a fun twist to our adventure. However, we found some areas lacking in signage, which made navigation a bit tricky. Overall, a great experience!','As a couple looking to escape the city, Makandawa was perfect. The tranquility of the forest and the beauty of the waterfall created a romantic atmosphere. We loved the peaceful hikes and the chance to connect with nature. Just a heads up, the entrance fee is on the higher side, but worth it for the time spent there.','Visiting Makandawa with my family was an enriching experience. We enjoyed the hike and watching the kids marvel at the wildlife. The trails are well maintained, but we wished there were more educational signs about the flora and fauna. The waterfall was a highlight for the kids, who loved splashing around. Overall, a lovely day out!','While the Makandawa Conservation Center offers stunning scenery and a variety of bird species, I felt the entrance fee was a bit steep. The trails were enjoyable, but we encountered some muddy sections that made it challenging at times. Still, the beauty of the forest and the waterfall made it a worthwhile visit.']"

In [ ]:
user_ratings_sum = places_df.loc[places_df['place_id'].isin([70, 392]), 'user_ratings_total'].sum()

places_df.loc[places_df['place_id'] == 70, 'user_ratings_total'] = user_ratings_sum

# Verify the result
places_df.loc[places_df['place_id'] == 70, 'user_ratings_total']

70    319.0
Name: user_ratings_total, dtype: float64

In [ ]:
row_70 = places_df[places_df['place_id'] == 70].index[0]
row_392 = places_df[places_df['place_id'] == 392].index[0]

# Calculate the mean for the 'rating', 'lat', and 'lng' columns
mean_rating = places_df.loc[[row_70, row_392], 'rating'].mean()
mean_lat = places_df.loc[[row_70, row_392], 'lat'].mean()
mean_lng = places_df.loc[[row_70, row_392], 'lng'].mean()

places_df.loc[row_70, ['rating', 'lat', 'lng']] = [mean_rating, mean_lat, mean_lng]

# Verify the result
places_df.loc[row_70, ['rating', 'lat', 'lng']]

rating          4.7
lat         6.99092
lng       80.405368
Name: 70, dtype: object

In [ ]:
places_df.at[row_70, "formatted_address"] = places_df.at[row_392, "formatted_address"]

# Verify the result
places_df.at[row_70, "formatted_address"]

'Kitulgala, Sri Lanka'

In [ ]:
places_df = places_df[places_df['place_id'] != 392].reset_index(drop=True)
places_df[places_df['place_id'] == 392]

Empty DataFrame
Columns: [place_id, name, lat, lng, formatted_address, rating, user_ratings_total, latest_reviews]
Index: []

---
### handling 6 and 410 place_id

In [ ]:
places_df[places_df['place_id'].isin([6, 410])]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
6,6,Unawatuna Beach,6.009686,80.248424,"Unawatuna Beach, Sri Lanka",4.8,1868.0,['Unawatuna Beach is a slice of paradise! The ...
400,410,Unawatuna Beach,6.009686,80.248424,"Unawatuna Beach, Sri Lanka",4.3,1908.0,['Unawatuna Beach is a paradise! The soft sand...

In [ ]:
# Get the reviews for both IDs
reviews_6 = places_df.loc[places_df['place_id'] == 6, 'latest_reviews'].values[0]
reviews_410 = places_df.loc[places_df['place_id'] == 410, 'latest_reviews'].values[0]

# Combine the reviews
combined_reviews = reviews_6 + reviews_410

places_df.loc[places_df['place_id'] == 6, 'latest_reviews'] = combined_reviews
places_df.loc[places_df['place_id'] == 6, 'latest_reviews'].values[0]

"['Unawatuna Beach is a slice of paradise! The water is crystal clear, perfect for snorkeling. I was amazed by the vibrant marine life just a few feet from the shore. The beach itself can get crowded, but it adds to the lively atmosphere. There are plenty of beach shacks to grab a bite, and the sunset views are breathtaking. A must-visit if youÃ¢Â€Â™re in Sri Lanka!', 'I had a great time at Unawatuna Beach with my friends. Paddleboarding was a highlight, and we loved exploring the coastline. While the beach is stunning, it can feel a bit too touristy at times. Still, the overall vibe is fun, and the local food stalls offer delicious snacks. Definitely worth a visit!', 'As a couple, we enjoyed our time at Unawatuna Beach, but it was more crowded than we expected. The snorkeling spots were fantastic, and we even saw some sea turtles! However, finding a quiet spot to relax was a bit challenging. If youÃ¢Â€Â™re looking for a lively beach atmosphere, this is the place for you!', 'We visited Unawatuna Beach as a family, and it was perfect for our kids! The shallow waters made it safe for them to play, and they loved feeding the fish. While the beach was beautiful, it was quite busy, which made it hard to find a good spot to set up for the day. Still, a great experience overall!', 'Unawatuna Beach is beautiful with its soft sand and turquoise waters. I was able to snorkel right off the shore, and the underwater scenery was enchanting. However, I found the beach a bit too packed for my taste. If you prefer a quieter beach day, consider visiting early in the morning. Still, the atmosphere is lively and fun!']['Unawatuna Beach is a paradise! The soft sand and clear blue waters made for a perfect day. I tried surfing for the first time, and the instructors were incredibly helpful. The beach was lively but not overcrowded, allowing for a relaxing atmosphere. Definitely a highlight of my trip to Sri Lanka!','I visited Unawatuna Beach with friends, and we had a blast! The surfing was thrilling, though a bit challenging for beginners. The beach bars served delicious drinks and snacks, making it a great spot to chill after some fun in the waves. Just be aware of the occasional hawkers; they can be a bit persistent!','As a couple, we found Unawatuna Beach romantic and picturesque. The sunsets were breathtaking, and we enjoyed long walks along the shore. While the beach is beautiful, it can get a bit crowded at times, which detracted from the serene vibe we were hoping for. Still, a lovely experience overall.','Unawatuna Beach was a nice family getaway. The kids loved the shallow areas for splashing around, and we felt safe letting them explore. We also enjoyed some surfing lessons together. However, some parts of the beach were littered with trash, which was disappointing. A little more upkeep would make it perfect!','I had high expectations for Unawatuna Beach based on the reviews, and while it's lovely, it wasn't as pristine as I imagined. The waves were great for surfing, but the beach was busier than IÃ¢Â€Â™d hoped. ItÃ¢Â€Â™s a fun spot for a day out, but IÃ¢Â€Â™d recommend visiting during off-peak times for a better experience.']"

In [ ]:
user_ratings_sum = places_df.loc[places_df['place_id'].isin([6, 410]), 'user_ratings_total'].sum()

places_df.loc[places_df['place_id'] == 6, 'user_ratings_total'] = user_ratings_sum

# Verify the result
places_df.loc[places_df['place_id'] == 6, 'user_ratings_total']

6    3776.0
Name: user_ratings_total, dtype: float64

In [ ]:
row_6 = places_df[places_df['place_id'] == 6].index[0]
row_410 = places_df[places_df['place_id'] == 410].index[0]

# Calculate the mean for the 'rating', 'lat', and 'lng' columns
mean_rating = places_df.loc[[row_6, row_410], 'rating'].mean()
mean_lat = places_df.loc[[row_6, row_410], 'lat'].mean()
mean_lng = places_df.loc[[row_6, row_410], 'lng'].mean()

places_df.loc[row_6, ['rating', 'lat', 'lng']] = [mean_rating, mean_lat, mean_lng]

# Verify the result
places_df.loc[row_6, ['rating', 'lat', 'lng']]

rating         4.55
lat        6.009686
lng       80.248424
Name: 6, dtype: object

In [ ]:
places_df.at[row_6, "formatted_address"] = places_df.at[row_410, "formatted_address"]

# Verify the result
places_df.at[row_6, "formatted_address"]

'Unawatuna Beach, Sri Lanka'

In [ ]:
places_df = places_df[places_df['place_id'] != 410].reset_index(drop=True)
places_df[places_df['place_id'] == 410]

Empty DataFrame
Columns: [place_id, name, lat, lng, formatted_address, rating, user_ratings_total, latest_reviews]
Index: []

---
### handling 31 and 402 place_id

In [ ]:
places_df[places_df['place_id'].isin([31, 402])]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
31,31,Ventura Beach,6.423471,79.99532,"Ventura Beach, Sri Lanka",4.4,516.0,"['Ventura Beach is a hidden gem! The soft, whi..."
394,402,Ventura Beach,6.423471,79.99532,"Ventura Beach, Sri Lanka",4.4,502.0,['Ventura Beach is a hidden gem! The golden sa...

In [ ]:
# Get the reviews for both IDs
reviews_31 = places_df.loc[places_df['place_id'] == 31, 'latest_reviews'].values[0]
reviews_402 = places_df.loc[places_df['place_id'] == 402, 'latest_reviews'].values[0]

# Combine the reviews
combined_reviews = reviews_31 + reviews_402

places_df.loc[places_df['place_id'] == 31, 'latest_reviews'] = combined_reviews
places_df.loc[places_df['place_id'] == 31, 'latest_reviews'].values[0]

"['Ventura Beach is a hidden gem! The soft, white sand is perfect for lounging, and the water is refreshing. I spent my days swimming and trying out wind-surfing. The locals are friendly, and while the sunbeds can be a bit pricey, itÃ¢Â€Â™s worth it for the experience. Just be sure to bring your own snacks as options are limited. Overall, a lovely spot to unwind!', 'We visited Ventura Beach as a family and had a fantastic time! The kids loved playing in the waves, and we all tried scuba diving. The instructors were professional and made it enjoyable for everyone. The beach itself is stunning, though be prepared for some hassle from sunbed sellers. Still, it was a memorable day, and we would definitely return!', 'As a solo traveler, I found Ventura Beach to be a peaceful escape. The sunsets here are breathtaking! I enjoyed bird watching early in the morning and was lucky enough to spot a few exotic species. Just a tip: the public toilets could use some improvement. Otherwise, a great place to relax and soak up the sun!', 'My friends and I had an awesome time at Ventura Beach! The water skiing was a blast, and we loved the thrill of it. However, we did find the beach vendors a bit overwhelming at times. It would have been nicer if they'd given us some space to enjoy our day. Still, we made great memories and enjoyed the beautiful scenery.', 'We had a nice day at Ventura Beach, but it wasn't without its challenges. The beach itself is lovely with clear water and fine sand. We enjoyed some time sunbathing and swimming, but the constant pressure from sunbed sellers was a bit much. Make sure to bring everything you need for the day, as food options are scarce. All in all, it's a decent beach worth a visit.']['Ventura Beach is a hidden gem! The golden sands and crystal-clear waters are perfect for a day of relaxation. I loved exploring the local food stalls and trying fresh seafood. The beach is well-maintained, and the sunsets are absolutely breathtaking. Just be mindful of the occasional crowd on weekends! Highly recommend it for a peaceful getaway.', 'As a family, we had a wonderful time at Ventura Beach. The kids enjoyed building sandcastles and playing in the gentle waves. The beach is very family-friendly, and we appreciated the available amenities. The only downside was that some areas were a bit crowded, but overall, it was a fantastic day out.', 'I visited Ventura Beach with friends, and we had a blast! The beach offers a great vibe, especially in the evening with live music and beach games. We even tried surfing lessons, which were so much fun! Just be prepared for limited parking on busy days. Still, itÃ¢Â€Â™s a must-visit if you're in the area!', 'My partner and I spent a romantic evening at Ventura Beach, and it was magical. The ambiance is perfect for couples, especially during sunset. We enjoyed a lovely dinner at a nearby restaurant, but we found the beach a bit cluttered with litter in some spots. A little more maintenance would elevate the experience!', 'I had a solo trip to Ventura Beach, and it was a refreshing experience. The tranquility of the early morning was unbeatable, perfect for a walk along the shore. I joined a yoga class on the beach, which was a highlight! The only issue was the limited shade during midday; a beach umbrella is a must if youÃ¢Â€Â™re staying longer.']"

In [ ]:
user_ratings_sum = places_df.loc[places_df['place_id'].isin([31, 402]), 'user_ratings_total'].sum()

places_df.loc[places_df['place_id'] == 31, 'user_ratings_total'] = user_ratings_sum

# Verify the result
places_df.loc[places_df['place_id'] == 31, 'user_ratings_total']

31    1018.0
Name: user_ratings_total, dtype: float64

In [ ]:
row_31 = places_df[places_df['place_id'] == 31].index[0]
row_402 = places_df[places_df['place_id'] == 402].index[0]

# Calculate the mean for the 'rating', 'lat', and 'lng' columns
mean_rating = places_df.loc[[row_31, row_402], 'rating'].mean()
mean_lat = places_df.loc[[row_31, row_402], 'lat'].mean()
mean_lng = places_df.loc[[row_31, row_402], 'lng'].mean()

places_df.loc[row_31, ['rating', 'lat', 'lng']] = [mean_rating, mean_lat, mean_lng]

# Verify the result
places_df.loc[row_31, ['rating', 'lat', 'lng']]

rating         4.4
lat       6.423471
lng       79.99532
Name: 31, dtype: object

In [ ]:
places_df.at[row_31, "formatted_address"] = places_df.at[row_402, "formatted_address"]

# Verify the result
places_df.at[row_31, "formatted_address"]

'Ventura Beach, Sri Lanka'

In [ ]:
places_df = places_df[places_df['place_id'] != 402].reset_index(drop=True)
places_df[places_df['place_id'] == 402]

Empty DataFrame
Columns: [place_id, name, lat, lng, formatted_address, rating, user_ratings_total, latest_reviews]
Index: []

---
### handling 130 and 401 place_id

In [ ]:
places_df[places_df['place_id'].isin([130, 401])]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
130,130,Victor Hasselblad Sea Turtle Research And Cons...,6.333705,80.027906,"Kosgoda, Sri Lanka",4.3,1449.0,['The Victor Hasselblad Sea Turtle Research an...
393,401,Victor Hasselblad Sea Turtle Research And Cons...,6.333735,80.027903,"Kosgoda, Sri Lanka",4.3,1499.0,['This center is a gem! The commitment to turt...

In [ ]:
# Get the reviews for both IDs
reviews_130 = places_df.loc[places_df['place_id'] == 130, 'latest_reviews'].values[0]
reviews_401 = places_df.loc[places_df['place_id'] == 401, 'latest_reviews'].values[0]

# Combine the reviews
combined_reviews = reviews_130 + reviews_401

places_df.loc[places_df['place_id'] == 130, 'latest_reviews'] = combined_reviews
places_df.loc[places_df['place_id'] == 130, 'latest_reviews'].values[0]

"['The Victor Hasselblad Sea Turtle Research and Conservation Centre is a gem! I loved learning about the conservation efforts and getting up close with the turtles. The staff is incredibly passionate, and their dedication shines through. It was a bit crowded when I visited, but it didnÃ¢Â€Â™t take away from the experience. Definitely a place that should be on every travelerÃ¢Â€Â™s list in Sri Lanka!', 'Visiting the turtle center was a highlight of my trip. The facility is clean and well-organized, and the staff shared fascinating insights about each turtle species. I had the chance to hold a baby turtle, which was such a memorable experience. However, I wish there were more interactive activities available for visitors. Still, a great educational stop!', 'What a wonderful experience! The dedication of the staff at the Victor Hasselblad Centre is commendable, and itÃ¢Â€Â™s evident that they genuinely care for the turtles. I appreciated the guided tour, which provided in-depth information. Just be aware that it can get quite busy, so visiting early in the day is advisable for a more relaxed experience.', 'As a family, we had a fantastic time at the turtle conservation centre. The kids were thrilled to see the baby turtles and learn about their rehabilitation process. The staff was friendly and knowledgeable, making it a fun educational trip. The only downside was the entrance fee, which felt a bit steep, but we felt good knowing our money was supporting a noble cause.', 'IÃ¢Â€Â™m glad I visited the Victor Hasselblad Sea Turtle Centre! The staff was enthusiastic, and the turtles are simply adorable. However, I found the facility a bit smaller than expected, and some areas felt rushed. I would recommend it for a quick visit, but those looking for a deeper dive into sea turtle conservation might want to research more before going.']['This center is a gem! The commitment to turtle conservation is evident, and the staff are incredibly knowledgeable and passionate. I loved getting up close with the turtles and learning about their rehabilitation. The photography opportunities were fantastic, too. I spent a delightful afternoon here and left feeling inspired to support wildlife conservation efforts.', 'Visiting the Victor Hasselblad Sea Turtle Research Centre was a highlight of my trip! The staff were friendly and offered great insights into the turtlesÃ¢Â€Â™ lives. I was thrilled to interact with some of the turtles, which made for memorable photos. The only downside was that it felt a bit crowded at times, but overall, a worthwhile experience!', 'As a family, we enjoyed our visit to the turtle center. The kids were thrilled to see the turtles up close and even got to hold a baby one! The guided tour was informative, and we appreciated the conservation efforts. However, the gift shop prices were a bit steep. Still, a fantastic experience for animal lovers!', 'My friends and I stopped here during our road trip, and it was a fun and educational pit stop. The center is well-maintained, and the staff are enthusiastic about their work. We had a great time capturing photos of the turtles, but I wish there were more interactive activities. Still, a nice place to support a good cause.', 'We enjoyed our visit to the center, especially the informative talks about turtle conservation. It was great to see the dedication of the staff. However, I felt that the experience could have been enhanced with more engaging displays. Overall, it was a pleasant outing, and the turtles were adorable!']"

In [ ]:
user_ratings_sum = places_df.loc[places_df['place_id'].isin([130, 401]), 'user_ratings_total'].sum()

places_df.loc[places_df['place_id'] == 130, 'user_ratings_total'] = user_ratings_sum

# Verify the result
places_df.loc[places_df['place_id'] == 130, 'user_ratings_total']

130    2948.0
Name: user_ratings_total, dtype: float64

In [ ]:
row_130 = places_df[places_df['place_id'] == 130].index[0]
row_401 = places_df[places_df['place_id'] == 401].index[0]

# Calculate the mean for the 'rating', 'lat', and 'lng' columns
mean_rating = places_df.loc[[row_130, row_401], 'rating'].mean()
mean_lat = places_df.loc[[row_130, row_401], 'lat'].mean()
mean_lng = places_df.loc[[row_130, row_401], 'lng'].mean()

places_df.loc[row_130, ['rating', 'lat', 'lng']] = [mean_rating, mean_lat, mean_lng]

# Verify the result
places_df.loc[row_130, ['rating', 'lat', 'lng']]

rating          4.3
lat         6.33372
lng       80.027905
Name: 130, dtype: object

In [ ]:
places_df.at[row_130, "formatted_address"] = places_df.at[row_401, "formatted_address"]

# Verify the result
places_df.at[row_130, "formatted_address"]

'Kosgoda, Sri Lanka'

In [ ]:
places_df = places_df[places_df['place_id'] != 401].reset_index(drop=True)
places_df[places_df['place_id'] == 401]

Empty DataFrame
Columns: [place_id, name, lat, lng, formatted_address, rating, user_ratings_total, latest_reviews]
Index: []

---
## removing special characters from names and addresses

In [ ]:
# Define a function to detect non-ASCII characters in the 'name' column
def has_non_ascii(name):
    return any(ord(char) > 127 for char in name)

# Apply the function to find rows with non-ASCII characters in the 'name' column
non_ascii_rows = places_df[places_df['name'].apply(has_non_ascii)]

# Display the rows with problematic characters
print(non_ascii_rows)

     place_id                                               name       lat  \
99         99           ÃƒÂ„Ã‚Â€riapÃƒÂ„Ã‚Â_x0081_la Mask Museum  6.241272
105       105  Velgam Vehera Buddhist Temple | ÃƒÂ Ã‚Â·Ã‚Â€Ãƒ...  8.647187
107       107  Spa Ceylon Heritage Spa & Boutique II ÃƒÂ¢Ã‚Â€...  6.026257
136       136  Buddhangala Raja Maha Viharaya ÃƒÂ Ã‚Â¶Ã‚Â¶ÃƒÂ...  7.331836
143       143  Archaeological Museum Mihintale - ÃƒÂ Ã‚Â¶Ã‚Â¸...  8.355528
145       145  Tantirimale Rajamaha Viharaya - ÃƒÂ Ã‚Â¶Ã‚Â­Ãƒ...  8.573602
159       159  Corbett's Gap ÃƒÂ Ã‚Â¶Ã‚Â…ÃƒÂ Ã‚Â¶Ã‚Â§ÃƒÂ Ã‚Â·...  7.372765
160       160  Dematamal Viharaya| ÃƒÂ Ã‚Â¶Ã‚Â¯ÃƒÂ Ã‚Â·Ã‚Â™Ãƒ...  6.753990
161       161  Galabedda Biso Pond ÃƒÂ Ã‚Â¶Ã‚ÂœÃƒÂ Ã‚Â¶Ã‚Â½Ãƒ...  6.916830
166       166  Batticaloa Gate | ÃƒÂ Ã‚Â®Ã‚Â®ÃƒÂ Ã‚Â®Ã‚ÂŸÃƒÂ ...  7.713625
170       170  Kotte Rajamaha Vihara ÃƒÂ Ã‚Â¶Ã‚ÂšÃƒÂ Ã‚Â·Ã‚Â_...  6.881008
181       181  SrÃƒÂ„Ã‚Â« VijayÃƒÂ„Ã‚Â_x0081_rÃƒÂ„Ã‚Â_x0081_m...  6.245269
183       183                   ParappudÃƒÂ…Ã‚Â«va Island Temple  6.111568
187       187  ÃƒÂ Ã‚Â¶Ã‚Â´ÃƒÂ Ã‚Â¶Ã‚Â»ÃƒÂ Ã‚Â·Ã‚Â™ÃƒÂ Ã‚Â·Ã‚...  5.941381
188       188  Weherahena Poorwarama Rajamaha Viharaya - Mata...  5.953038
203       203  Ussangoda National Park | ÃƒÂ Ã‚Â¶Ã‚Â‹ÃƒÂ Ã‚Â·...  6.098920
209       209  Nilavarai, Natural underground water well | Ãƒ...  9.754379
218       218  Balana Fort | ÃƒÂ Ã‚Â¶Ã‚Â¶ÃƒÂ Ã‚Â¶Ã‚Â½ÃƒÂ Ã‚Â¶...  7.269913
224       224  Siri Gautama Sambuddharaja Maligawa | ÃƒÂ Ã‚Â·...  7.341584
246       246  Sandaraja Wana Arana ÃƒÂ Ã‚Â·Ã‚ÂƒÃƒÂ Ã‚Â¶Ã‚Â³Ã...  7.118269
262       262  Ambuluwawa Temple - ÃƒÂ Ã‚Â¶Ã‚Â…ÃƒÂ Ã‚Â¶Ã‚Â¸Ãƒ...  7.161061
272       272  Lotus Pond (Nelum pokuna II (ÃƒÂ Ã‚Â¶Ã‚Â±ÃƒÂ Ã...  7.983824
275       275  Sathmahal Prasadaya (ÃƒÂ Ã‚Â·Ã‚ÂƒÃƒÂ Ã‚Â¶Ã‚Â­Ã...  7.947952
313       313  Deegavapi Maha Stupa ÃƒÂ Ã‚Â¶Ã‚Â¯ÃƒÂ Ã‚Â·Ã‚Â“Ã...  7.284115
336       336  Our Lady of Refuge (OLR) Church, Jaffna | ÃƒÂ ...  9.663146
345       345  Ruins of Poonakary Fort | ÃƒÂ Ã‚Â®Ã‚ÂªÃƒÂ Ã‚Â¯...  9.503333
349       349  Bowatenna Reservoir | ÃƒÂ Ã‚Â¶Ã‚Â¶ÃƒÂ Ã‚Â·Ã‚Â_...  7.671418
350       350             NÃƒÂ„Ã‚Â_x0081_ Uyana Forest Monastery  7.738741
361       361  ÃƒÂ Ã‚Â¶Ã‚Â´ÃƒÂ Ã‚Â·Ã‚Â_x008f_ÃƒÂ Ã‚Â¶Ã‚Â±ÃƒÂ ...  6.754508
362       362  Pareiyan Ella Falls | ÃƒÂ Ã‚Â¶Ã‚Â´ÃƒÂ Ã‚Â¶Ã‚Â»...  6.849870
363       363  ÃƒÂ Ã‚Â¶Ã‚Â”ÃƒÂ Ã‚Â¶Ã‚ÂšÃƒÂ Ã‚Â¶Ã‚Â±ÃƒÂ Ã‚Â·Ã‚...  6.627940
365       365  ÃƒÂ Ã‚Â¶Ã‚ÂšÃƒÂ Ã‚Â·Ã‚Â_x009d_ÃƒÂ Ã‚Â¶Ã‚ÂšÃƒÂ ...  9.064594
374       374  Nuraicholai Casuarina Beach , ÃƒÂ Ã‚Â®Ã‚ÂšÃƒÂ ...  8.046070

           lng                                  formatted_address  rating  \
99   80.050700                             Ambalangoda, Sri Lanka     4.1
105  81.169685                        Vilgam Vihara Rd, Sri Lanka     4.8
107  80.216883                                   Galle, Sri Lanka     4.6
136  81.703649                              Buddangala, Sri Lanka     4.4
143  80.513325                               Mihintale, Sri Lanka     4.1
145  80.255829                           Thanthirimale, Sri Lanka     4.9
159  80.840879             Hunnasgiriya - Meemure Road, Sri Lanka     4.5
160  81.288013                                    B522, Sri Lanka     4.7
161  81.387505                Colombo - Batticaloa Hwy, Sri Lanka     4.2
166  81.699643                              Batticaloa, Sri Lanka     4.7
170  79.904750               Sri Jayawardenepura Kotte, Sri Lanka     4.8
181  80.057509                             Ambalangoda, Sri Lanka     4.8
183  80.138342                                Rathgama, Sri Lanka     4.5
187  80.549255                                  Matara, Sri Lanka     4.4
188  80.575286                                  Matara, Sri Lanka     4.4
203  80.988343                               Ussangoda, Sri Lanka     4.7
209  80.088261                  Urumpirai NorthÃƒÂ˜Ã‚ÂŒ Sri Lanka     4.4
218  80.495623                   Kadugannawa Balana Rd, Sri Lanka     4.1
224  80.253971                             Polgahawela, Sri Lanka     4.9
246  80.412014                               Aranayake, Sri Lanka     4.3
262  80.547068                                 Gampola, Sri Lanka     4.9
272  81.003876                             Polonnaruwa, Sri Lanka     3.8
275  81.001818                             Polonnaruwa, Sri Lanka     4.6
313  81.786542                                Nintavur, Sri Lanka     4.9
336  80.018255                                  Jaffna, Sri Lanka     4.3
345  80.212094                                Pooneryn, Sri Lanka     4.1
349  80.666900                                Arangala, Sri Lanka     4.7
350  80.515907                            Polgahangoda, Sri Lanka     4.5
361  81.773372                                  Panama, Sri Lanka     4.9
362  81.237553                            Badalkumbura, Sri Lanka     4.7
363  81.770818  ÃƒÂ Ã‚Â¶Ã‚Â…ÃƒÂ Ã‚Â¶Ã‚Â¸ÃƒÂ Ã‚Â·Ã‚ÂŠÃƒÂ Ã‚Â¶Ã‚...     4.5
365  80.918706                                          Sri Lanka     3.9
374  79.710784                             Ilanthadiya, Sri Lanka     4.3

     user_ratings_total                                     latest_reviews
99               1022.0  ['Visiting the ÃƒÂ„riapÃ„Â_x0081_la Mask Museu...
105               394.0  ['Visiting Velgam Vehera was a profound experi...
107               282.0  ['I visited Spa Ceylon Heritage Spa & Boutique...
136               862.0  ['Buddhangala Raja Maha Viharaya is a hidden g...
143                88.0  ['The Archaeological Museum in Mihintale is a ...
145              1221.0  ['Tantirimale Rajamaha Viharaya is a hidden ge...
159               405.0  ['Corbett's Gap is a hidden gem! The sweeping ...
160               628.0  ['Dematamal Viharaya is a hidden gem in Sri La...
161               252.0  ['Galabedda Biso Pond is an absolute gem! The ...
166               588.0  ['Batticaloa Gate is a hidden gem! The histori...
170              1605.0  ['Visiting Kotte Rajamaha Vihara was a delight...
181               239.0  ['Visiting SrÃƒÂ¯ VijayÃ„Â_x0081_rÃ„Â_x0081_ma...
183               136.0  ['ParappudÃƒÂ¥va Island Temple is a hidden gem...
187               947.0  ['Visiting Paravi Duwa Temple was a delightful...
188              1682.0  ['Weherahena Poorwarama Rajamaha Viharaya is a...
203               674.0  ['Ussangoda National Park was an unexpected ge...
209              1105.0  ['Visiting Nilavarai Well was a highlight of m...
218               261.0  ['Balana Fort offers a serene escape into Sri ...
224               474.0  ['Visiting the Siri Gautama Sambuddharaja Mali...
246               103.0  ['Sandaraja Wana Arana is a hidden gem! The lu...
262              3598.0  ['Visiting Ambuluwawa Temple was a breathtakin...
272                87.0  ['Lotus Pond is a hidden gem in Polonnaruwa! T...
275               140.0  ['Visiting Sathmahal Prasadaya was a highlight...
313               206.0  ['Deegavapi Maha Stupa is a hidden gem in Sri ...
336               160.0  ['Visiting Our Lady of Refuge Church in Jaffna...
345               288.0  ['The Ruins of Poonakary Fort is a fascinating...
349                69.0  ['The Bowatenna Reservoir is a hidden gem! I w...
350               543.0  ['NÃƒÂ„ Uyana Forest Monastery is a serene esc...
361               173.0  ['Panama Wewa is a hidden gem! The serene atmo...
362               137.0  ['Pareiyan Ella Falls is a stunning hidden gem...
363                84.0  ['Okanda Beach is a hidden gem! The serene atm...
365               140.0  ['Kokkilai Beach is a hidden gem! The tranquil...
374               155.0  ['Nuraicholai Casuarina Beach is a hidden gem!...

In [ ]:
places_df[places_df['formatted_address'].apply(has_non_ascii)]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
173,173,Mayan Water Park,7.068894,79.902236,ÃƒÂ Ã‚Â¶Ã‚Â¢ÃƒÂ Ã‚Â·Ã‚Â_x008f_-ÃƒÂ Ã‚Â¶Ã‚Â‡ÃƒÂ...,3.7,562.0,['Mayan Water Park was a decent outing for my ...
195,195,Fort Entrance (Old Gate),6.028114,80.218447,ÃƒÂ Ã‚Â¶Ã‚Â¸ÃƒÂ Ã‚Â·Ã‚Â_x008f_ÃƒÂ Ã‚Â¶Ã‚Â­ÃƒÂ ...,4.8,231.0,"['The Fort Entrance, or Old Gate, is a captiva..."
209,209,"Nilavarai, Natural underground water well | Ãƒ...",9.754379,80.088261,Urumpirai NorthÃƒÂ˜Ã‚ÂŒ Sri Lanka,4.4,1105.0,['Visiting Nilavarai Well was a highlight of m...
286,286,Kudawa Beach Kalpitiya,8.227305,79.728156,ÃƒÂ Ã‚Â¶Ã‚Â´ÃƒÂ Ã‚Â·Ã‚Â”ÃƒÂ Ã‚Â¶Ã‚Â­ÃƒÂ Ã‚Â·Ã‚...,4.3,329.0,['Kudawa Beach Kalpitiya is a hidden gem! The ...
363,363,ÃƒÂ Ã‚Â¶Ã‚Â”ÃƒÂ Ã‚Â¶Ã‚ÂšÃƒÂ Ã‚Â¶Ã‚Â±ÃƒÂ Ã‚Â·Ã‚...,6.627940,81.770818,ÃƒÂ Ã‚Â¶Ã‚Â…ÃƒÂ Ã‚Â¶Ã‚Â¸ÃƒÂ Ã‚Â·Ã‚ÂŠÃƒÂ Ã‚Â¶Ã‚...,4.5,84.0,['Okanda Beach is a hidden gem! The serene atm...

In [ ]:
import re

# Function to clean the names by removing unreadable characters
def clean_name(name):
    # Use a regular expression to remove non-ASCII characters
    cleaned_name = re.sub(r'[^\x00-\x7F]+', '', name)
    # Optionally remove specific patterns like '_x0081_' or '| '
    cleaned_name = re.sub(r'_x[0-9a-fA-F]+_', '', cleaned_name)
    cleaned_name = cleaned_name.replace('| ', '').strip()
    return cleaned_name

# Apply the cleaning function to the 'name' and 'formatted_address' columns
places_df['name'] = places_df['name'].apply(clean_name)
places_df['formatted_address'] = places_df['formatted_address'].apply(clean_name)

In [ ]:
places_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   place_id            398 non-null    int64
 1   name                398 non-null    object
 2   lat                 397 non-null    float64
 3   lng                 397 non-null    float64
 4   formatted_address   398 non-null    object
 5   rating              343 non-null    float64
 6   user_ratings_total  343 non-null    float64
 7   latest_reviews      398 non-null    object
dtypes: float64(4), int64(1), object(3)
memory usage: 25.0+ KB

In [ ]:
places_df[places_df['lat'].isnull()]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews
89,89,Leisure World,NaN,NaN,Sri Lanka,NaN,NaN,"['Leisure World has potential, but my experien..."

In [ ]:
# Update the DataFrame from the internet
places_df.at[89, 'lat'] = 6.9216
places_df.at[89, 'lng'] = 80.1056

---
## removing special characters from the latest reviews

In [ ]:
places_df.loc[places_df['place_id'] == 1, 'latest_reviews'].values[0]

"['Mirissa Beach is truly a gem on Sri LankaÃ¢Â€Â™s southern coast! The soft, golden sand and crystal-clear waters are perfect for lounging or taking a dip. I went whale watching and was lucky enough to see several majestic creatures! The beachfront dining options are fantastic; I enjoyed fresh seafood while watching the sunset. However, it can get a bit crowded during peak times, but the vibrant atmosphere is worth it. Definitely a must-visit!' , 'What an amazing beach! Mirissa offers fantastic surfing conditions, though I would recommend it for more experienced surfers due to the strong waves. I also explored some local cafes and found great options for beachfront dining. The sunset views are breathtaking! On the downside, the beach can get quite busy, which sometimes detracts from the serene vibe. Overall, a great place for an adventurous day out!' , 'This beach exceeded my expectations! The snorkeling was a highlight; I saw so many colorful fish and beautiful corals. I also enjoyed some delicious seafood at one of the beachside restaurants. The atmosphere is lively, especially during the weekends with beach parties. However, be prepared for a bit of noise and crowds. If youÃ¢Â€Â™re looking for a lively beach experience with plenty of activities, Mirissa is the place to be!' , 'Mirissa Beach is a stunning destination for anyone visiting Sri Lanka! The combination of relaxing on the beach and indulging in water sports was perfect. I particularly loved the whale watching tour; it was an unforgettable experience! While the beach can be a bit crowded, especially in peak season, the friendly locals and great dining options make up for it. Just a heads up, the waves can be a bit daunting for novice surfers.' , 'I had a lovely time at Mirissa Beach with my family. The kids enjoyed playing in the gentle waves, and we all had a great time exploring local restaurants. The sunset views were stunning! One downside was the beach was a bit crowded, making it hard to find a quiet spot to relax. If youÃ¢Â€Â™re looking for more tranquility, consider visiting earlier in the day. Still, itÃ¢Â€Â™s a beautiful place to make memories.']"

In [ ]:
def clean_text(text):
    # Replace special characters with proper ones or remove unwanted characters
    text = re.sub(r'Ã¢Â€Â™', "'", text)  # Replace the encoded apostrophe
    text = re.sub(r'[^a-zA-Z0-9.,!?\'\s]', '', text)  # Remove other unwanted special characters
    return text

def process_reviews(row):
    reviews = row['latest_reviews']  # Access the reviews
    cleaned_reviews = [clean_text(review) for review in reviews]  # Clean each review
    combined_string = ''.join(cleaned_reviews)
    return combined_string

In [ ]:
places_df['cleaned_reviews'] = places_df.apply(process_reviews, axis=1)
places_df.head()

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews,cleaned_reviews
0,0,Arugam Bay Beach,6.840408,81.836848,"Arugam Bay Beach, Sri Lanka",4.8,1591.0,['Arugam Bay Beach is a surfer's paradise! I s...,'Arugam Bay Beach is a surfer's paradise! I sp...
1,1,Mirissa Beach,5.944703,80.459161,"Mirissa, Sri Lanka",4.6,1748.0,['Mirissa Beach is truly a gem on Sri LankaÃ¢Â...,'Mirissa Beach is truly a gem on Sri Lankas so...
2,2,Weligama Beach (surf and stay),5.972486,80.435714,"Weligama, Sri Lanka",4.4,325.0,['Weligama Beach is a fantastic spot for both ...,'Weligama Beach is a fantastic spot for both b...
3,3,Ahangama,5.973975,80.362159,"Ahangama, Sri Lanka",NaN,NaN,['Ahangama was a bit disappointing for me as a...,'Ahangama was a bit disappointing for me as a ...
4,4,Hikkaduwa Beach,6.137727,80.099060,"Hikkaduwa Beach, Sri Lanka",4.7,1438.0,['Hikkaduwa Beach is a delightful escape for s...,'Hikkaduwa Beach is a delightful escape for so...

In [ ]:
places_df[places_df['rating'].isna()]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews,cleaned_reviews
3,3,Ahangama,5.973975,80.362159,"Ahangama, Sri Lanka",NaN,NaN,['Ahangama was a bit disappointing for me as a...,'Ahangama was a bit disappointing for me as a ...
5,5,Tangalle,6.024338,80.794073,"Tangalle, Sri Lanka",NaN,NaN,['Tangalle was a bit of a letdown for me. The ...,'Tangalle was a bit of a letdown for me. The b...
20,20,Anawilundawa Wetland,7.709595,79.821270,"Anawilundawa Wetland, Sri Lanka",NaN,NaN,['I visited Anawilundawa Wetland expecting a v...,'I visited Anawilundawa Wetland expecting a vi...
23,23,Anuradhapura,8.311352,80.403651,"Anuradhapura, Sri Lanka",NaN,NaN,"['Anuradhapura is rich in history, but I found...","'Anuradhapura is rich in history, but I found ..."
34,34,Uppuveli,8.601562,81.219524,"Trincomalee, Sri Lanka",NaN,NaN,"['Uppuveli has a stunning shoreline, but I fou...","'Uppuveli has a stunning shoreline, but I foun..."
35,35,Koggala,6.000704,80.335236,"Koggala, Sri Lanka",NaN,NaN,"['Koggala beach has stunning scenery, but I wa...","'Koggala beach has stunning scenery, but I was..."
37,37,Marakolliya,6.061372,80.818401,"Marakolliya, Sri Lanka",NaN,NaN,"['Marakolliya has stunning scenery, but my exp...","'Marakolliya has stunning scenery, but my expe..."
46,46,Mirissa,5.948262,80.471587,"Mirissa, Sri Lanka",NaN,NaN,"['I recently went on a sea cruise in Mirissa, ...","'I recently went on a sea cruise in Mirissa, a..."
47,47,Port City Colombo,6.937804,79.836843,"Port City Colombo, Sri Lanka",NaN,NaN,"['Port City Colombo has a lot of potential, bu...","'Port City Colombo has a lot of potential, but..."
50,50,Pitawala Nature Trail,7.548983,80.751473,"Pitawala Nature Trail, Sri Lanka",NaN,NaN,['The Pitawala Nature Trail was a bit underwhe...,'The Pitawala Nature Trail was a bit underwhel...
51,51,Kitulgala,6.989784,80.427088,"Kitulgala, Sri Lanka",NaN,NaN,"['Kitulgala has potential, but my experience w...","'Kitulgala has potential, but my experience wa..."
59,59,Kalpitiya,8.229528,79.759614,"Kalpitiya, Sri Lanka",NaN,NaN,"['Kalpitiya has beautiful scenery, but I was d...","'Kalpitiya has beautiful scenery, but I was di..."
60,60,Negombo,7.205521,79.851256,"Negombo, Sri Lanka",NaN,NaN,['Negombo was a bit of a letdown for me. I exp...,'Negombo was a bit of a letdown for me. I expe...
61,61,Trincomalee,8.587364,81.215212,"Trincomalee, Sri Lanka",NaN,NaN,"[\n""I had high expectations for Trincomalee, b...","\nI had high expectations for Trincomalee, but..."
62,62,Dambulla,7.874217,80.651129,"Dambulla, Sri Lanka",NaN,NaN,['Dambulla was a bit of a letdown for me. The ...,'Dambulla was a bit of a letdown for me. The h...
63,63,Kandalama,7.888498,80.710353,"Kandalama, Sri Lanka",NaN,NaN,"[\n""Kandalama was a bit of a letdown for me. T...",\nKandalama was a bit of a letdown for me. The...
68,68,Meemure,7.432645,80.846082,"Meemure, Sri Lanka",NaN,NaN,"['Meemure is a beautiful spot, but I was a bit...","'Meemure is a beautiful spot, but I was a bit ..."
69,69,Belihuloya,6.718399,80.774091,"Belihuloya, Sri Lanka",NaN,NaN,['Belihuloya was a bit disappointing for me. T...,'Belihuloya was a bit disappointing for me. Th...
75,75,Ahungalla,6.313278,80.040918,"Ahungalla, Sri Lanka",NaN,NaN,"['Ahungalla seemed promising, but I found it a...","'Ahungalla seemed promising, but I found it a ..."
76,76,Hikkaduwa,6.139468,80.106286,"Hikkaduwa, Sri Lanka",NaN,NaN,['Hikkaduwa was quite disappointing for a beac...,'Hikkaduwa was quite disappointing for a beach...
77,77,Nuwara Eliya,6.949717,80.789107,"Nuwara Eliya, Sri Lanka",NaN,NaN,['Nuwara Eliya is a bit overrated for its char...,'Nuwara Eliya is a bit overrated for its charm...
78,78,Haputale,6.765414,80.952565,"Haputale, Sri Lanka",NaN,NaN,['Haputale is a beautiful location with stunni...,'Haputale is a beautiful location with stunnin...
79,79,Nine Arches Bridge,6.876815,81.060846,"Ella, Sri Lanka",NaN,NaN,"['The Nine Arches Bridge is visually stunning,...","'The Nine Arches Bridge is visually stunning, ..."
80,80,Galle,6.032895,80.216791,"Galle, Sri Lanka",NaN,NaN,"['Galle has some charm, but honestly, I expect...","'Galle has some charm, but honestly, I expecte..."
89,89,Leisure World,6.921600,80.105600,Sri Lanka,NaN,NaN,"['Leisure World has potential, but my experien...","'Leisure World has potential, but my experienc..."
92,92,Kandy,7.290572,80.633726,"Kandy, Sri Lanka",NaN,NaN,"['Kandy has its moments, but overall, I found ...","'Kandy has its moments, but overall, I found i..."
95,95,Polonnaruwa,7.940338,81.018798,"Polonnaruwa, Sri Lanka",NaN,NaN,['Polonnaruwa felt like a missed opportunity. ...,'Polonnaruwa felt like a missed opportunity. W...
101,101,Unawatuna,6.017447,80.248860,"Unawatuna, Sri Lanka",NaN,NaN,"[\n""Unawatuna has beautiful beaches, but I fou...","\nUnawatuna has beautiful beaches, but I found..."
102,102,Kataragama,6.413546,81.332568,"Kataragama, Sri Lanka",NaN,NaN,"['Kataragama has a rich cultural significance,...","'Kataragama has a rich cultural significance, ..."
103,103,Seetha Eliya,6.933208,80.810268,"Seetha Eliya, Sri Lanka",NaN,NaN,"['Seetha Eliya has some beautiful scenery, but...","'Seetha Eliya has some beautiful scenery, but ..."
109,109,Colombo,6.927079,79.861243,"Colombo, Sri Lanka",NaN,NaN,['Colombo was a bit of a letdown for me. While...,'Colombo was a bit of a letdown for me. While ...
128,128,Ambalangoda,6.244152,80.059080,"Ambalangoda, Sri Lanka",NaN,NaN,"['Ambalangoda had potential, but it fell short...","'Ambalangoda had potential, but it fell short ..."
132,132,Pinnawala,7.301495,80.386742,"Rambukkana, Sri Lanka",NaN,NaN,['Pinnawala was a bit of a letdown. While the ...,'Pinnawala was a bit of a letdown. While the e...
133,133,Udawalawa,6.418483,80.823938,"Udawalawa, Sri Lanka",NaN,NaN,['Udawalawa was a bit of a letdown. The elepha...,'Udawalawa was a bit of a letdown. The elephan...
142,142,Thandiyadi Lagoon,7.051927,81.845720,"Vinayagapuram, Sri Lanka",NaN,NaN,['Thandiyadi Lagoon was a bit of a letdown for...,'Thandiyadi Lagoon was a bit of a letdown for ...
147,147,Nuwara Wewa View Point,8.336791,80.416116,"Anuradhapura, Sri Lanka",NaN,NaN,['The view from Nuwara Wewa View Point was qui...,'The view from Nuwara Wewa View Point was quit...
164,164,Narangala N_____ view point,7.025305,80.993622,"Narangala, Sri Lanka",NaN,NaN,['The hike to Narangala viewpoint was more cha...,'The hike to Narangala viewpoint was more chal...
204,204,Ridiyagama waterfront,6.209217,80.968159,"Siyambalagoda, Sri Lanka",NaN,NaN,['The Ridiyagama waterfront was a bit underwhe...,'The Ridiyagama waterfront was a bit underwhel...
205,205,Heyna camping site,6.207340,81.272014,"Weligatta, Sri Lanka",NaN,NaN,['The Heyna camping site was a bit of a letdow...,'The Heyna camping site was a bit of a letdown...
225,225,Hidden Water fall Tiny Ella,7.278051,80.630203,"Kandy, Sri Lanka",NaN,NaN,['The hike to Hidden Waterfall Tiny Ella was m...,'The hike to Hidden Waterfall Tiny Ella was mo...
256,256,Panakala Lagoon,6.732608,81.793739,"Lahugala, Sri Lanka",NaN,NaN,['Panakala Lagoon was a bit of a letdown. The ...,'Panakala Lagoon was a bit of a letdown. The s...
294,294,Kiriwalketiya waterfall,6.637441,80.455778,"Nivithigala, Sri Lanka",NaN,NaN,['The Kiriwalketiya waterfall was a bit of a l...,'The Kiriwalketiya waterfall was a bit of a le...
299,299,Watawala Ella,6.628570,80.360297,"Niriella, Sri Lanka",NaN,NaN,"['Watawala Ella has stunning views, but I foun...","'Watawala Ella has stunning views, but I found..."
310,310,Lake side cabana,8.574241,81.220538,"Trincomalee 31010, Sri Lanka",NaN,NaN,"['The Lake Side Cabana has a stunning view, bu...","'The Lake Side Cabana has a stunning view, but..."
325,325,Dutch Cannon,7.711577,81.702434,"Batticaloa, Sri Lanka",NaN,NaN,['Visiting the Dutch Cannon was a bit disappoi...,'Visiting the Dutch Cannon was a bit disappoin...
332,332,Rillamba Surf Point,6.032895,80.216791,"Galle, Sri Lanka",NaN,NaN,['Rillamba Surf Point was a bit disappointing....,'Rillamba Surf Point was a bit disappointing. ...
333,333,rumassala,6.032895,80.216791,"Galle, Sri Lanka",NaN,NaN,['Rumassala was a bit of a letdown. The views ...,'Rumassala was a bit of a letdown. The views w...
372,372,Mahakarambewa Wewa,8.034722,79.942222,"Mahakarambewa Wewa, Sri Lanka",NaN,NaN,['Mahakarambewa Wewa was a bit of a letdown. T...,'Mahakarambewa Wewa was a bit of a letdown. Th...
376,376,Diyagala Escape,6.706992,80.439074,"Ratnapura, Sri Lanka",NaN,NaN,['Diyagala Escape was a bit disappointing over...,'Diyagala Escape was a bit disappointing overa...
380,380,Katukeliyawa Wewa,8.681588,80.570894,"Puhudivula, Sri Lanka",NaN,NaN,['Katukeliyawa Wewa was a bit disappointing. T...,'Katukeliyawa Wewa was a bit disappointing. Th...
381,381,Wedikkarayage Wewa,8.669136,80.540823,"Puhudivula Rd, Sri Lanka",NaN,NaN,['Wedikkarayage Wewa was a bit of a letdown fo...,'Wedikkarayage Wewa was a bit of a letdown for...
382,382,Kadawatha Wewa,8.662155,80.541028,"Puhudivula Rd, Sri Lanka",NaN,NaN,['Kadawatha Wewa was a bit of a letdown. The s...,'Kadawatha Wewa was a bit of a letdown. The sc...
383,383,Maha Meegaskada Wewa,8.672284,80.574627,"Puhudivula, Sri Lanka",NaN,NaN,['Maha Meegaskada Wewa was a bit of a disappoi...,'Maha Meegaskada Wewa was a bit of a disappoin...
384,384,Mekichchawa Wewa,8.661152,80.542828,"Puhudivula Rd, Sri Lanka",NaN,NaN,['The Mekichchawa Wewa was a bit of a letdown ...,'The Mekichchawa Wewa was a bit of a letdown f...
385,385,Kuda Meegaskada Wewa,8.667744,80.571630,"Puhudivula, Sri Lanka",NaN,NaN,['Kuda Meegaskada Wewa was a bit of a letdown....,'Kuda Meegaskada Wewa was a bit of a letdown. ...

In [ ]:
places_df[places_df['formatted_address'].str.contains("Sri Lanka", na=False)]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews,cleaned_reviews
0,0,Arugam Bay Beach,6.840408,81.836848,"Arugam Bay Beach, Sri Lanka",4.8,1591.0,['Arugam Bay Beach is a surfer's paradise! I s...,'Arugam Bay Beach is a surfer's paradise! I sp...
1,1,Mirissa Beach,5.944703,80.459161,"Mirissa, Sri Lanka",4.6,1748.0,['Mirissa Beach is truly a gem on Sri LankaÃ¢Â...,'Mirissa Beach is truly a gem on Sri Lankas so...
2,2,Weligama Beach (surf and stay),5.972486,80.435714,"Weligama, Sri Lanka",4.4,325.0,['Weligama Beach is a fantastic spot for both ...,'Weligama Beach is a fantastic spot for both b...
3,3,Ahangama,5.973975,80.362159,"Ahangama, Sri Lanka",NaN,NaN,['Ahangama was a bit disappointing for me as a...,'Ahangama was a bit disappointing for me as a ...
4,4,Hikkaduwa Beach,6.137727,80.099060,"Hikkaduwa Beach, Sri Lanka",4.7,1438.0,['Hikkaduwa Beach is a delightful escape for s...,'Hikkaduwa Beach is a delightful escape for so...
...,...,...,...,...,...,...,...,...,...
393,404,Nilaveli Beach,8.700307,81.192050,"Nilaveli Beach, Sri Lanka",4.5,1247.0,['Nilaveli Beach is a beautiful escape with st...,'Nilaveli Beach is a beautiful escape with stu...
394,406,Uppuveli Beach,8.607956,81.220013,"Trincomalee, Sri Lanka",4.3,399.0,['Uppuveli Beach is a stunning escape! The sof...,'Uppuveli Beach is a stunning escape! The soft...
395,407,Koggala Beach,5.992272,80.310691,"Koggala Beach, Sri Lanka",4.3,353.0,['Koggala Beach is a hidden gem! The soft sand...,'Koggala Beach is a hidden gem! The soft sand ...
396,408,Marakolliya Beach,6.042222,80.823073,"Kapuhenwala Road, Sri Lanka",4.3,180.0,['Marakolliya Beach is a hidden gem! The waves...,'Marakolliya Beach is a hidden gem! The waves ...
397,409,Pasikuda Beach,7.929994,81.561185,"Pasikuda Beach, Sri Lanka",4.4,1142.0,['Pasikuda Beach is a hidden gem! The pristine...,'Pasikuda Beach is a hidden gem! The pristine ...

In [ ]:
places_df['formatted_address'] = places_df['formatted_address'].str.replace("Sri Lanka", "", regex=False)
places_df['formatted_address']

0      Arugam Bay Beach,
1               Mirissa,
2              Weligama,
3              Ahangama,
4       Hikkaduwa Beach,
              ...
393      Nilaveli Beach,
394         Trincomalee,
395       Koggala Beach,
396    Kapuhenwala Road,
397      Pasikuda Beach,
Name: formatted_address, Length: 398, dtype: object

In [ ]:
places_df[places_df['formatted_address'].str.len() <= 4]

,place_id,name,lat,lng,formatted_address,rating,user_ratings_total,latest_reviews,cleaned_reviews
11,11,Yala National Park,6.463961,81.471885,,4.10,2810.0,['Yala National Park is a true gem for wildlif...,'Yala National Park is a true gem for wildlife...
12,12,Udawalawe National Park,6.474629,80.876319,,4.30,6156.0,['Udawalawe National Park was absolutely breat...,'Udawalawe National Park was absolutely breath...
13,13,Wilpattu National Park,8.458182,80.051831,,4.70,2708.0,['Wilpattu National Park is a fantastic destin...,'Wilpattu National Park is a fantastic destina...
15,15,Minneriya National Park,8.015644,80.844670,,4.60,1293.0,['Minneriya National Park is a must-visit for ...,'Minneriya National Park is a mustvisit for wi...
16,16,Sinharaja Forest Reserve,6.406991,80.460027,,4.30,2062.0,['Exploring Sinharaja Forest Reserve was a mag...,'Exploring Sinharaja Forest Reserve was a magi...
17,17,Horton Plains National Park,6.809446,80.802333,,4.70,8564.0,"[\n""Horton Plains National Park was an incredi...",\nHorton Plains National Park was an incredibl...
89,89,Leisure World,6.921600,80.105600,,NaN,NaN,"['Leisure World has potential, but my experien...","'Leisure World has potential, but my experienc..."
120,120,Bambarakiri Ella,7.495246,80.699001,,4.40,2004.0,"['Bambarakiri Ella is a beautiful, serene spot...","'Bambarakiri Ella is a beautiful, serene spot ..."
124,124,Madunagala Hot Water Spring,6.253630,80.981711,,4.55,2268.0,['Madunagala Hot Water Spring is a hidden gem!...,'Madunagala Hot Water Spring is a hidden gem! ...
173,173,Mayan Water Park,7.068894,79.902236,"-,",3.70,562.0,['Mayan Water Park was a decent outing for my ...,'Mayan Water Park was a decent outing for my f...
184,184,Midigama Right,5.964815,80.383642,,4.80,217.0,['Midigama Right is a hidden gem! The water is...,'Midigama Right is a hidden gem! The water is ...
239,239,Bathalagoda Tank,7.531868,80.450986,,4.70,60.0,['Bathalagoda Tank is such a hidden gem! I vis...,'Bathalagoda Tank is such a hidden gem! I visi...
286,286,Kudawa Beach Kalpitiya,8.227305,79.728156,",",4.30,329.0,['Kudawa Beach Kalpitiya is a hidden gem! The ...,'Kudawa Beach Kalpitiya is a hidden gem! The s...
288,288,Thalawila Beach,8.111427,79.701862,,4.30,134.0,['Thalawila Beach is a hidden gem! The soft sa...,'Thalawila Beach is a hidden gem! The soft san...
291,291,Rajanawa Waterfall,6.654697,80.441370,,4.40,182.0,['Rajanawa Waterfall is a hidden gem! The soun...,'Rajanawa Waterfall is a hidden gem! The sound...
308,308,Dutch Bay Beach,8.573372,81.239508,,4.30,396.0,['Dutch Bay Beach is an absolute gem! The clea...,'Dutch Bay Beach is an absolute gem! The clean...
330,330,Korathota Royal Temple,6.915038,80.002135,,4.80,1226.0,['Korathota Royal Temple is a hidden gem! The ...,'Korathota Royal Temple is a hidden gem! The c...
342,342,Manelwatta Temple,6.944921,79.951361,,4.80,1673.0,['Visiting Manelwatta Temple was a serene expe...,'Visiting Manelwatta Temple was a serene exper...
354,354,Vankalai Bird Sanctuary,8.919994,79.932892,,3.70,155.0,['The Vankalai Bird Sanctuary is a hidden gem ...,'The Vankalai Bird Sanctuary is a hidden gem i...
355,355,Kattukkarai Kulam,8.862747,80.015727,,4.20,121.0,['Kattukkarai Kulam is a hidden gem in the Nor...,'Kattukkarai Kulam is a hidden gem in the Nort...
363,363,Okanda Beach,6.627940,81.770818,",",4.50,84.0,['Okanda Beach is a hidden gem! The serene atm...,'Okanda Beach is a hidden gem! The serene atmo...
365,365,|Kokkilai Beach,9.064594,80.918706,,3.90,140.0,['Kokkilai Beach is a hidden gem! The tranquil...,'Kokkilai Beach is a hidden gem! The tranquil ...
371,371,Alankuda Casuarina Beach,8.048135,79.709916,,4.30,99.0,['Alankuda Casuarina Beach is a hidden gem! Th...,'Alankuda Casuarina Beach is a hidden gem! The...

In [ ]:
places_df.loc[places_df['place_id'] == 160, 'formatted_address'] = ""
places_df.loc[places_df['place_id'] == 173, 'formatted_address'] = ""

In [ ]:
places_df.loc[places_df['formatted_address'].str.len() > 1, 'formatted_address'] = \
    places_df['formatted_address'].str.rstrip(', ')

In [ ]:
places_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   place_id            398 non-null    int64
 1   name                398 non-null    object
 2   lat                 398 non-null    float64
 3   lng                 398 non-null    float64
 4   formatted_address   398 non-null    object
 5   rating              343 non-null    float64
 6   user_ratings_total  343 non-null    float64
 7   latest_reviews      398 non-null    object
 8   cleaned_reviews     398 non-null    object
dtypes: float64(4), int64(1), object(4)
memory usage: 28.1+ KB

In [ ]:
places_df_cleaned = places_df.drop(columns=['place_id', 'latest_reviews'])
places_df_cleaned.head()

,name,lat,lng,formatted_address,rating,user_ratings_total,cleaned_reviews
0,Arugam Bay Beach,6.840408,81.836848,Arugam Bay Beach,4.8,1591.0,'Arugam Bay Beach is a surfer's paradise! I sp...
1,Mirissa Beach,5.944703,80.459161,Mirissa,4.6,1748.0,'Mirissa Beach is truly a gem on Sri Lankas so...
2,Weligama Beach (surf and stay),5.972486,80.435714,Weligama,4.4,325.0,'Weligama Beach is a fantastic spot for both b...
3,Ahangama,5.973975,80.362159,Ahangama,NaN,NaN,'Ahangama was a bit disappointing for me as a ...
4,Hikkaduwa Beach,6.137727,80.099060,Hikkaduwa Beach,4.7,1438.0,'Hikkaduwa Beach is a delightful escape for so...

In [ ]:
places_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                398 non-null    object
 1   lat                 398 non-null    float64
 2   lng                 398 non-null    float64
 3   formatted_address   398 non-null    object
 4   rating              343 non-null    float64
 5   user_ratings_total  343 non-null    float64
 6   cleaned_reviews     398 non-null    object
dtypes: float64(4), object(3)
memory usage: 21.9+ KB

In [ ]:
# download the places_df_cleaned as csv
places_df_cleaned.to_csv('places_df_cleaned.csv', index=False)

# preprocessing done for places_df
---

---
#visitors_df

In [ ]:
visitors_df.head()

,User ID,Name,Email,Preferred Activities,Bucket list destinations Sri Lanka
0,1,Jennifer Quinn,jennifer.quinn@example.com,"['cycling', 'historical monuments', 'village h...","['Polonnaruwa', 'Hatton', 'Anuradhapura', 'Ell..."
1,2,Emily Perry,emily.perry@example.com,"['butterfly watching', 'hot springs', 'wildlif...","['Madunagala Hot Water Spring', 'Wilpattu Nati..."
2,3,Danielle Mcbride,danielle.mcbride@example.com,"['sea cruises', 'themed parks', 'craft worksho...","['Mirissa Beach', 'Negombo Lagoon', 'Batadomba..."
3,4,Angelica Wilson,angelica.wilson@example.com,"['fishing', 'hot springs', 'sailing']","['Maha Oya Hot Water Springs', 'Colombo Port C..."
4,5,Laurie Powers,laurie.powers@example.com,"['history tours', 'sailing', 'literary tours']","['Negombo Lagoon', 'Colombo Port City', 'Galle..."

In [ ]:
visitors_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   User ID                             10000 non-null  int64
 1   Name                                10000 non-null  object
 2   Email                               10000 non-null  object
 3   Preferred Activities                10000 non-null  object
 4   Bucket list destinations Sri Lanka  10000 non-null  object
dtypes: int64(1), object(4)
memory usage: 390.8+ KB

In [ ]:
visitors_df.describe()

           User ID
count  10000.00000
mean    5000.50000
std     2886.89568
min        1.00000
25%     2500.75000
50%     5000.50000
75%     7500.25000
max    10000.00000

---
### checking id user id column has unique values for each rows

In [ ]:
visitors_df['User ID'].nunique()

10000

### checking if name column has names less than 3 characters

In [ ]:
visitors_df[visitors_df['Name'].str.len() < 3]

Empty DataFrame
Columns: [User ID, Name, Email, Preferred Activities, Bucket list destinations Sri Lanka]
Index: []

### checking if there are special characters in names

In [ ]:
# Define a regex pattern to match names with special characters
special_char_pattern = r'[^a-zA-Z0-9.\s]'

# Filter rows where the 'Name' column contains special characters
visitors_df[visitors_df['Name'].str.contains(special_char_pattern, regex=True)]

Empty DataFrame
Columns: [User ID, Name, Email, Preferred Activities, Bucket list destinations Sri Lanka]
Index: []

### checking similar names

In [ ]:
# Find all rows where the 'Name' column is duplicated
duplicates = visitors_df[visitors_df.duplicated('Name', keep=False)]

# Sort the duplicates by 'Name' to group them together
duplicates_sorted = duplicates.sort_values(by='Name').reset_index(drop=True)

# Display the original names along with their duplicates
duplicates_sorted

,User ID,Name,Email,Preferred Activities,Bucket list destinations Sri Lanka
0,1010,Aaron Phillips,aaron.phillips@example.com,"['butterfly watching', 'sailing', 'elephant ri...","['Colombo Port City', 'Knuckles', 'Udawalawe',..."
1,3780,Aaron Phillips,aaron.phillips@example.com,"['local crafts', 'hot air ballooning', 'hiking']","[""Sri Pada / Adam's Peak"", 'Ambalangoda', 'Kan..."
2,2877,Aaron Walker,aaron.walker@example.com,"['boat safaris', 'yoga retreats', 'museum visi...","['Colombo National Museum', 'Ratnapura Gem Mus..."
3,7372,Aaron Walker,aaron.walker@example.com,"['scuba diving', 'yoga retreats', 'photography']","['Kalpitiya', 'Yala National Park', 'Sinharaja..."
4,6674,Alicia Jones,alicia.jones@example.com,"['horse shows', 'sailing', 'themed parks']","['Viharamahadevi Park', 'Nuwara Eliya', 'Colom..."
...,...,...,...,...,...
1048,3406,William Wilson,william.wilson@example.com,"['horse shows', 'butterfly watching', 'paddleb...","['Kandy', 'Unawatuna Beach', 'Bentota River', ..."
1049,5123,Zachary Jones,zachary.jones@example.com,"['beachfront dining', 'landscape photography',...","['Ella Gap', 'Galle', 'Sigiriya', 'Ahangama', ..."
1050,4366,Zachary Jones,zachary.jones@example.com,"['river cruises', 'literary tours', 'public ar...","['Madu River', 'Kandy', 'Bentota River', 'Mart..."
1051,5061,Zachary Martin,zachary.martin@example.com,"['rock climbing', 'arts and culture', 'safaris']","['National Gallery of Art', 'Nelung Arts Centr..."
1052,3642,Zachary Martin,zachary.martin@example.com,"['caving', 'kayaking', 'temple pilgrimages']","['Belilena Caves', 'Jaya Sri Maha Bodhi', ""Sri..."

#### merged those duplicates with the originals by combining preferred activities and bucket list destinations srilanka

In [ ]:
# Function to merge lists in two columns
def merge_lists(group):
    group['Preferred Activities'] = group['Preferred Activities'].apply(eval)  # convert strings to lists
    group['Bucket list destinations Sri Lanka'] = group['Bucket list destinations Sri Lanka'].apply(eval)  # convert strings to lists

    # Merge lists of Preferred Activities and Bucket list destinations Sri Lanka
    merged_activities = list(set().union(*group['Preferred Activities']))
    merged_destinations = list(set().union(*group['Bucket list destinations Sri Lanka']))

    # Keep the first row and update the merged columns
    merged_row = group.iloc[0]
    merged_row['Preferred Activities'] = merged_activities
    merged_row['Bucket list destinations Sri Lanka'] = merged_destinations
    return merged_row

merged_df = duplicates_sorted.groupby('Name').apply(merge_lists).reset_index(drop=True)

In [ ]:
merged_df.iloc[1, ]["Preferred Activities"]

['museum visits',
 'photography',
 'scuba diving',
 'yoga retreats',
 'boat safaris']

In [ ]:
df_no_duplicates = visitors_df.drop_duplicates('Name', keep=False)
visitors_df = pd.concat([df_no_duplicates, merged_df], ignore_index=True)
visitors_df = visitors_df.sort_values(by='User ID')
visitors_df

,User ID,Name,Email,Preferred Activities,Bucket list destinations Sri Lanka
0,1,Jennifer Quinn,jennifer.quinn@example.com,"['cycling', 'historical monuments', 'village h...","['Polonnaruwa', 'Hatton', 'Anuradhapura', 'Ell..."
1,2,Emily Perry,emily.perry@example.com,"['butterfly watching', 'hot springs', 'wildlif...","['Madunagala Hot Water Spring', 'Wilpattu Nati..."
2,3,Danielle Mcbride,danielle.mcbride@example.com,"['sea cruises', 'themed parks', 'craft worksho...","['Mirissa Beach', 'Negombo Lagoon', 'Batadomba..."
3,4,Angelica Wilson,angelica.wilson@example.com,"['fishing', 'hot springs', 'sailing']","['Maha Oya Hot Water Springs', 'Colombo Port C..."
4,5,Laurie Powers,laurie.powers@example.com,"['history tours', 'sailing', 'literary tours']","['Negombo Lagoon', 'Colombo Port City', 'Galle..."
...,...,...,...,...,...
8942,9996,Jonathan Hernandez,jonathan.hernandez@example.com,"['paddleboarding', 'river cruises', 'kayaking']","['Ahungalla', 'Bolgoda Lake', 'Unawatuna Beach..."
8943,9997,Cody Gallegos,cody.gallegos@example.com,"['theater', 'scuba diving', 'yoga retreats']","['Kalpitiya', 'Hikkaduwa Coral Sanctuary', 'Tr..."
8944,9998,Amy House,amy.house@example.com,"['sea cruises', 'zip-lining', 'outdoor adventu...","['Hikkaduwa Coral Sanctuary', 'Ella', 'Pigeon ..."
8945,9999,Leslie Aguilar,leslie.aguilar@example.com,"['cycling', 'amusement parks', 'paddleboarding']","['Ella', 'Hatton', 'Negambo', 'Colombo Port Ci..."
8946,10000,Joseph Stone,joseph.stone@example.com,"['camping', 'hiking', 'safaris']","['Kitugala Forest', 'Wilpattu National Park', ..."

### checking if there are emails with wrong format

In [ ]:
def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, email) is not None

# Apply function to the 'Email' column and filter invalid emails
visitors_df[~visitors_df['Email'].apply(is_valid_email)]

Empty DataFrame
Columns: [User ID, Name, Email, Preferred Activities, Bucket list destinations Sri Lanka]
Index: []

---
### removing special characters from preffered activities

In [ ]:
def process_activities(row):
    reviews = row['Preferred Activities']  # Access the reviews
    cleaned_reviews = [clean_text(review) for review in reviews]  # Clean each review
    combined_string = ''.join(cleaned_reviews)
    return combined_string
visitors_df['Cleaned Preferred Activities'] = visitors_df.apply(process_activities, axis=1)
visitors_df.head()

,User ID,Name,Email,Preferred Activities,Bucket list destinations Sri Lanka,Cleaned Preferred Activities
0,1,Jennifer Quinn,jennifer.quinn@example.com,"['cycling', 'historical monuments', 'village h...","['Polonnaruwa', 'Hatton', 'Anuradhapura', 'Ell...","'cycling', 'historical monuments', 'village ho..."
1,2,Emily Perry,emily.perry@example.com,"['butterfly watching', 'hot springs', 'wildlif...","['Madunagala Hot Water Spring', 'Wilpattu Nati...","'butterfly watching', 'hot springs', 'wildlife..."
2,3,Danielle Mcbride,danielle.mcbride@example.com,"['sea cruises', 'themed parks', 'craft worksho...","['Mirissa Beach', 'Negombo Lagoon', 'Batadomba...","'sea cruises', 'themed parks', 'craft workshops'"
3,4,Angelica Wilson,angelica.wilson@example.com,"['fishing', 'hot springs', 'sailing']","['Maha Oya Hot Water Springs', 'Colombo Port C...","'fishing', 'hot springs', 'sailing'"
4,5,Laurie Powers,laurie.powers@example.com,"['history tours', 'sailing', 'literary tours']","['Negombo Lagoon', 'Colombo Port City', 'Galle...","'history tours', 'sailing', 'literary tours'"

---
### removing special characters from Bucket list destinations Sri Lanka

In [ ]:
def process_bucket_list(row):
    reviews = row['Bucket list destinations Sri Lanka']  # Access the reviews
    cleaned_reviews = [clean_text(review) for review in reviews]  # Clean each review
    combined_string = ''.join(cleaned_reviews)
    return combined_string
visitors_df['Cleaned Bucket list destinations Sri Lanka'] = visitors_df.apply(process_bucket_list, axis=1)
visitors_df.head()

,User ID,Name,Email,Preferred Activities,Bucket list destinations Sri Lanka,Cleaned Preferred Activities,Cleaned Bucket list destinations Sri Lanka
0,1,Jennifer Quinn,jennifer.quinn@example.com,"['cycling', 'historical monuments', 'village h...","['Polonnaruwa', 'Hatton', 'Anuradhapura', 'Ell...","'cycling', 'historical monuments', 'village ho...","'Polonnaruwa', 'Hatton', 'Anuradhapura', 'Ella..."
1,2,Emily Perry,emily.perry@example.com,"['butterfly watching', 'hot springs', 'wildlif...","['Madunagala Hot Water Spring', 'Wilpattu Nati...","'butterfly watching', 'hot springs', 'wildlife...","'Madunagala Hot Water Spring', 'Wilpattu Natio..."
2,3,Danielle Mcbride,danielle.mcbride@example.com,"['sea cruises', 'themed parks', 'craft worksho...","['Mirissa Beach', 'Negombo Lagoon', 'Batadomba...","'sea cruises', 'themed parks', 'craft workshops'","'Mirissa Beach', 'Negombo Lagoon', 'Batadombal..."
3,4,Angelica Wilson,angelica.wilson@example.com,"['fishing', 'hot springs', 'sailing']","['Maha Oya Hot Water Springs', 'Colombo Port C...","'fishing', 'hot springs', 'sailing'","'Maha Oya Hot Water Springs', 'Colombo Port Ci..."
4,5,Laurie Powers,laurie.powers@example.com,"['history tours', 'sailing', 'literary tours']","['Negombo Lagoon', 'Colombo Port City', 'Galle...","'history tours', 'sailing', 'literary tours'","'Negombo Lagoon', 'Colombo Port City', 'Galle ..."

In [ ]:
# create a cleaned visitors_df dataframe without preffered activities and bucket list column
visitors_df_cleaned = visitors_df.drop(columns=['Preferred Activities', 'Bucket list destinations Sri Lanka'])
visitors_df_cleaned.head()

,User ID,Name,Email,Cleaned Preferred Activities,Cleaned Bucket list destinations Sri Lanka
0,1,Jennifer Quinn,jennifer.quinn@example.com,"'cycling', 'historical monuments', 'village ho...","'Polonnaruwa', 'Hatton', 'Anuradhapura', 'Ella..."
1,2,Emily Perry,emily.perry@example.com,"'butterfly watching', 'hot springs', 'wildlife...","'Madunagala Hot Water Spring', 'Wilpattu Natio..."
2,3,Danielle Mcbride,danielle.mcbride@example.com,"'sea cruises', 'themed parks', 'craft workshops'","'Mirissa Beach', 'Negombo Lagoon', 'Batadombal..."
3,4,Angelica Wilson,angelica.wilson@example.com,"'fishing', 'hot springs', 'sailing'","'Maha Oya Hot Water Springs', 'Colombo Port Ci..."
4,5,Laurie Powers,laurie.powers@example.com,"'history tours', 'sailing', 'literary tours'","'Negombo Lagoon', 'Colombo Port City', 'Galle ..."

In [ ]:
# output the visitors_df_cleaned
visitors_df_cleaned.to_csv('visitors_df_cleaned.csv', index=False)